:host {
    display: flex;
    flex-direction: column;
    min-width: 577px;
    padding: 0;
}

.popover-action {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
    border-radius: 0 0 5px 5px;
    text-align: right;
}

.popover-title {
    &.menu-tabs {
        padding: 0.5rem 0.5rem 0;
        display: block;

        .nav-tabs {
            position: relative;
            top: 1px;
        }
    }
}

.popover-content {
    padding: 10px 24px;
}

mouse-tab {
    &.popover-content {
        padding: 10px;
        display: flex;
        align-items: center;
    }
}
