:host {
    display: flex;
    flex-direction: column;
    max-width: none;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}

.popover-action {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
    border-radius: 0 0 5px 5px;
    text-align: right;
}

.popover-title {
    &.menu-tabs {
        padding: 0.5rem 0.5rem 0;
        display: block;

        .nav-tabs {
            position: relative;
            top: 1px;
            display: flex;

            .menu-tabs--item {
                display: flex;
                align-items: center;
                cursor: pointer;

                i {
                    margin-right: 0.25em;
                }
            }
        }
    }
}

.popover-content {
    padding: 10px 24px;
}

.select2-item {
    position: relative;
    font-size: 1.5rem;

    &.keymap-name--wrapper {
        padding-left: 50px;
    }

    .layout-segment-code {
        height: 2rem;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -1rem;
    }
}
