#main-content {
  margin-left: 250px; }

#sidebar-menu {
  background-color: #f5f5f5;
  border-right: 1px solid #ccc;
  position: fixed;
  overflow-y: auto;
  width: 250px;
  height: 100%; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    padding: 0; }

.sidebar__level-1 {
  padding: .5rem 1rem;
  font-size: 2rem;
  line-height: 3rem; }
  .sidebar__level-1--item {
    margin-top: 0; }
    .sidebar__level-1--item:nth-child(1) {
      margin: 0; }
  .sidebar__level-1 .fa-chevron-up,
  .sidebar__level-1 .fa-chevron-down {
    margin-right: 1rem;
    font-size: 1.5rem;
    position: relative;
    top: .5rem;
    display: none; }
  .sidebar__level-1:hover .fa-chevron-up,
  .sidebar__level-1:hover .fa-chevron-down {
    display: inline-block; }

.sidebar__level-1, .sidebar__level-2 {
  padding-left: 15px; }

.sidebar__level-2 {
  margin-left: 15px; }
  .sidebar__level-2--item {
    padding: 0 20px 0 0; }
    .sidebar__level-2--item.active {
      background-color: #555;
      color: #fff; }
      .sidebar__level-2--item.active .fa-star,
      .sidebar__level-2--item.active .fa-star-o {
        display: none; }
      .sidebar__level-2--item.active:hover {
        background-color: #555; }
        .sidebar__level-2--item.active:hover .fa-star,
        .sidebar__level-2--item.active:hover .fa-star-o {
          display: block;
          color: #fff; }
    .sidebar__level-2--item:hover .fa-star-o {
      color: #000; }
      .sidebar__level-2--item:hover .fa-star-o:hover {
        color: #000; }
    .sidebar__level-2--item .fa.pull-right {
      position: relative;
      top: 2px; }
    .sidebar__level-2--item .fa-star-o {
      color: #f5f5f5; }
    .sidebar__level-2--item .fa-star {
      color: #666; }

.sidebar__level-1:hover, .sidebar__level-2--item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05); }

.menu--bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  .menu--bottom .sidebar__level-1 {
    background-color: transparent;
    padding: 1rem; }

.pane-title {
  margin-bottom: 1em; }
  .pane-title__name, .pane-title__abbrev {
    border: none;
    border-bottom: 2px dotted #999;
    padding: 0 .5rem;
    margin: 0 .25rem; }
    .pane-title__name.active, .pane-title__abbrev.active {
      box-shadow: 0 0 0px 1px #ccc, 0 0 5px 0px #ccc;
      border-color: transparent; }

.keymap__is-default.fa-star {
  color: #333; }

.keymap__is-default.fa-star-o {
  color: #333; }

.keymap__is-default:hover {
  color: #555;
  cursor: pointer; }

.keyboard-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto; }
  .keyboard-slider .uhk__layer-wrapper {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    left: 100%; }
    .keyboard-slider .uhk__layer-wrapper.current {
      left: 0; }
    .keyboard-slider .uhk__layer-wrapper .uhk {
      max-width: 100%;
      width: 98%; }

.key-editor__popup {
  border: none;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 215px;
  left: 50%;
  margin-left: -310px; }

svg.uhk.faded #left-case,
svg.uhk.faded #right-case {
  fill: #555; }

svg.uhk.faded rect {
  fill: #666; }
  svg.uhk.faded rect.active {
    fill: #000; }
