.main-content {
  margin-left: 250px; }

.sidebar-menu {
  background-color: #f5f5f5;
  border-right: 1px solid #ccc;
  position: fixed;
  overflow-y: auto;
  width: 250px;
  height: 100%; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    padding: 0; }

.sidebar__level-1 {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  line-height: 3rem; }
  .sidebar__level-1--item {
    margin-top: 0; }
    .sidebar__level-1--item:nth-child(1) {
      margin: 0; }
  .sidebar__level-1 .fa-chevron-up,
  .sidebar__level-1 .fa-chevron-down {
    margin-right: 1rem;
    font-size: 1.5rem;
    position: relative;
    top: 0.5rem;
    display: none; }
  .sidebar__level-1:hover .fa-chevron-up,
  .sidebar__level-1:hover .fa-chevron-down {
    display: inline-block; }

.sidebar__level-1, .sidebar__level-2 {
  padding-left: 15px; }

.sidebar__level-2 {
  margin-left: 15px; }
  .sidebar__level-2--item {
    padding: 0 20px 0 0; }
    .sidebar__level-2--item.active {
      background-color: #555;
      color: #fff; }
      .sidebar__level-2--item.active .fa-star {
        color: #fff; }
      .sidebar__level-2--item.active:hover {
        background-color: #555; }
    .sidebar__level-2--item .fa.pull-right {
      position: relative;
      top: 2px; }
    .sidebar__level-2--item .fa-star {
      color: #666; }

.sidebar__level-1:hover, .sidebar__level-2--item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05); }

.menu--bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  .menu--bottom .sidebar__level-1 {
    background-color: transparent;
    padding: 1rem; }

.pane-title {
  margin-bottom: 1em; }
  .pane-title__name[contenteditable=true], .pane-title__abbrev[contenteditable=true] {
    border: none;
    border-bottom: 2px dotted #999;
    padding: 0 0.5rem;
    margin: 0 0.25rem; }
    .pane-title__name[contenteditable=true].active, .pane-title__abbrev[contenteditable=true].active {
      box-shadow: 0 0 0 1px #ccc, 0 0 5px 0 #ccc;
      border-color: transparent; }

.keymap__is-default.fa-star {
  color: #333; }

.keymap__is-default.fa-star-o {
  color: #333; }

.keymap__is-default:hover {
  color: #555;
  cursor: pointer; }

.keymap__remove {
  font-size: 0.75em;
  top: 0.3em; }
  .keymap__remove:hover {
    cursor: pointer;
    color: #900; }

.notification {
  padding: 1rem 1.5rem;
  box-shadow: 0 0 0 1px #000;
  border-radius: 0.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 2000;
  background-color: #333;
  color: #eee; }
  .notification__action {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #5bc0de;
    text-transform: uppercase;
    font-weight: bold; }
    .notification__action:focus, .notification__action:active, .notification__action:hover {
      text-decoration: none;
      color: #5bc0de; }
  .notification__dismiss {
    position: relative;
    bottom: 1px;
    color: #ccc; }
    .notification__dismiss:hover {
      cursor: pointer;
      color: #fff; }

.uhk__layer-switcher--wrapper {
  position: relative; }
  .uhk__layer-switcher--wrapper:before {
    content: attr(data-title);
    display: inline-block;
    position: absolute;
    bottom: -0.3em;
    right: 100%;
    font-size: 2.4rem;
    padding-right: 0.25em;
    margin: 0; }

.keyboard-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto; }
  .keyboard-slider .uhk__layer-wrapper {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    left: 100%; }
    .keyboard-slider .uhk__layer-wrapper.current {
      left: 0; }
    .keyboard-slider .uhk__layer-wrapper .uhk {
      max-width: 100%;
      width: 98%; }

.key-editor__popup {
  border: none;
  width: 0;
  height: 0;
  position: absolute;
  top: 215px;
  left: 50%;
  margin-left: -310px; }

svg.uhk rect.active {
  fill: #337ab7; }

/* GitHub ribbon */
.github-fork-ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  right: -50px;
  bottom: 40px;
  z-index: 2000;
  /* stylelint-disable indentation */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
  /* stylelint-enable indentation */ }
  .github-fork-ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444; }
