:host {
    width: 100%;
    height: 100%;
    display: block;
}

svg-keyboard-popover {
    width: 95%;
    max-width: 1400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
}

.keyboard-slider {
    height: calc(100% - 45px);
    position: relative;
    overflow: hidden;
    width: 100%;
}

.keymap {
    &__is-default {
        &.fa-star {
            color: #333;
        }

        &.fa-star-o {
            color: #333;
        }

        &:hover {
            color: #555;
            cursor: pointer;
        }
    }

    &__remove {
        font-size: 0.75em;
        top: 0.3em;

        &:hover {
            cursor: pointer;
            color: #900;
        }
    }
}

.pane-title {
    margin-bottom: 1em;

    &__name,
    &__abbrev {
        &[contenteditable=true] {
            border: none;
            border-bottom: 2px dotted #999;
            padding: 0 0.5rem;
            margin: 0 0.25rem;

            &.active {
                box-shadow: 0 0 0 1px #ccc, 0 0 5px 0 #ccc;
                border-color: transparent;
            }
        }
    }
}

.uhk {
    &--wrapper {
        height: calc(100% - 95px);
    }
}

@keyframes animate-center-left {
    0% {
        transform: translateX(-50%);
        left: 50%;
    }
    100% {
        transform: translateX(-100%);
        left: 0;
    }
}

@keyframes animate-center-right {
    0% {
        transform: translateX(-50%);
        left: 50%;
    }
    100% {
        transform: translateX(0%);
        left: 100%;
    }
}

[hidden] {
    display: none;
}
