.notification {
    padding: 1rem 1.5rem;
    box-shadow: 0 0 0 1px #000;
    border-radius: 0.5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10000;
    background-color: #333;
    color: #eee;

    &__action {
        margin-left: 1rem;
        margin-right: 1rem;
        color: #5bc0de;
        text-transform: uppercase;
        font-weight: bold;

        &:focus,
        &:active,
        &:hover {
            text-decoration: none;
            color: #5bc0de;
        }
    }

    &__dismiss {
        position: relative;
        bottom: 1px;
        color: #ccc;

        &:hover {
            cursor: pointer;
            color: #fff;
        }
    }
}