#main-content {
  margin-left: 250px;
}

#sidebar-menu {
  background-color: #f5f5f5;
  border-right: 1px solid #ccc;
  position: fixed;
  overflow-y: auto;
  width: 250px;
  height: 100%;
}

// General list styles for the sidebar-menu.
ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
  }
}

.sidebar {
  &__level-1 {
    padding: .5rem 1rem;
    font-size: 2rem;
    line-height: 3rem;

    &--item {
      margin-top: 0;

      &:nth-child(1) {
        margin: 0;
      }
    }

    .fa-chevron-up,
    .fa-chevron-down {
      margin-right: 1rem;
      font-size: 1.5rem;
      position: relative;
      top: .5rem;
      display: none;
    }

    &:hover {
      .fa-chevron-up,
      .fa-chevron-down {
        display: inline-block;
      }
    }
  }

  // General spacing of level-1 and level-2 elements.
  &__level-1,
  &__level-2 {
    padding-left: 15px;
  }

  &__level-2 {
    margin-left: 15px;

    &--item {
      padding: 0 20px 0 0;

      &.active {
        background-color: #555;
        color: #fff;

        .fa-star {
          color: #fff;
        }

        &:hover {
          background-color: #555;
        }
      }

      // General "right side" icon theming.
      .fa.pull-right {
        position: relative;
        top: 2px;
      }

      .fa-star {
        color: #666;
      }
    }
  }

  // General hover over menu items.
  &__level-1,
  &__level-2--item {
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.menu--bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .sidebar {
    &__level-1 {
      background-color: transparent;
      padding: 1rem;
    }
  }
}

.pane-title {
  margin-bottom: 1em;

  &__name,
  &__abbrev {
    border: none;
    border-bottom: 2px dotted #999;
    padding: 0 .5rem;
    margin: 0 .25rem;

    &.active {
      box-shadow: 0 0 0px 1px #ccc, 0 0 5px 0px #ccc;
      border-color: transparent;
    }
  }
}

.keymap {
  &__is-default {
    &.fa-star {
      color: #333;
    }

    &.fa-star-o {
      color: #333;
    }

    &:hover {
      color: #555;
      cursor: pointer;
    }
  }
}

.uhk {
  &__layer-switcher {
    &--wrapper {
      position: relative;

      &:before {
        content: attr(data-title);
        display: inline-block;
        position: absolute;
        bottom: -0.3em;
        right: 100%;
        font-size: 2.4rem;
        padding-right: .25em;
        margin: 0;
      }
    }
  }
}

.keyboard-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;

  .uhk__layer-wrapper {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    left: 100%;

    &.current {
      left: 0;
    }

    .uhk {
      max-width: 100%;
      width: 98%;
    }
  }
}

.key-editor__popup {
  border: none;
  width: 0px;
  height: 0px;

  // Static setting for quick portotyping.
  position: absolute;
  top: 215px;
  left: 50%;
  margin-left: -310px;
}

svg.uhk {
  rect {
    &.active {
      //TODO: use a color variable instead of the declaration below.
      fill: #337ab7;
    }
  }
}

/* GitHub ribbon */
.github-fork-ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  right: -50px;
  bottom: 40px;
  z-index: 999999;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;

  a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
  }
}
