#sidebar-menu {
  background-color: #f5f5f5;
  border-right: 1px solid #ccc;
  position: fixed;
  overflow-y: auto;
  width: 250px;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

.sidebar__level-1 {
  padding: .5rem 1rem;
}

.sidebar__level-1, .sidebar__level-2 {
  padding-left: 15px;
}

.sidebar__level-2 {
  margin-left: 15px;
}

.sidebar__level-1:hover,
.sidebar__level-2--item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

#sidebar-menu .sidebar__level-2--item {
  padding: 0 20px 0 0;
}

#sidebar-menu .sidebar__level-2--item .fa.pull-right {
  position: relative;
  top: 2px;
}

#sidebar-menu .fa-star-o {
  color: #f5f5f5;
}

#sidebar-menu .sidebar__level-2--item:hover .fa-star-o {
  color: #000;
}

#sidebar-menu .sidebar__level-2--item .fa-star-o:hover {
  color: #000;
}

#sidebar-menu .fa-star {
  color: #666;
}

.sidebar__level-1 {
  font-size: 2rem;
  line-height: 3rem;
}

.sidebar__level-1--item {
  margin-top: 0;
}

.sidebar__level-1--item:nth-child(1) {
  margin: 0;
}

#sidebar-menu .sidebar__actions--list {
  margin-top: 1rem;
}

.sidebar__action--item {
  text-align: center;
}

.sidebar__action {
  width: 80%;
}

.sidebar__level-2--item.active {
  background-color: #555;
  color: #fff;
}

.sidebar__level-2--item.active i {
  display: none;
}

.menu--bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.menu--bottom .sidebar__level-1 {
  background-color: transparent;
  padding: 1rem;
}

#main-content {
  margin-left: 250px;
}

.pane-title {
  margin-bottom: 1em;

  &__name,
  &__abbrev {
    border: none;
    border-bottom: 2px dotted #999;
    padding: 0 .5rem;
    margin: 0 .25rem;

    &.active {
      box-shadow: 0 0 0px 1px #ccc, 0 0 5px 0px #ccc;
      border-color: transparent;
    }
  }
}

.keymap__is-default.fa-star {
  color: #333;
}

.keymap__is-default.fa-star-o {
  color: #333;
}

.keymap__is-default:hover {
  color: #555;
  cursor: pointer;
}

.uhk {
  max-width: 100%;
}

.owl-carousel {
  max-width: 991px;
  margin: auto;
}

.owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}

.sidebar__level-1 .fa.fa-chevron-down,
.sidebar__level-1 .fa.fa-chevron-up {
  margin-right: 1rem;
  font-size: 1.5rem;
  position: relative;
  top: .5rem;
  display: none;
}

.sidebar__level-1:hover .fa.fa-chevron-down,
.sidebar__level-1:hover .fa.fa-chevron-up {
  display: inline-block;
}
