.popover {
    padding: 0;

    &.bottom {
        > .arrow {
            border-bottom-color: #000;

            &:after {
                border-bottom-color: #f7f7f7;
            }
        }
    }
}

.popover-content {
    padding: 10px 24px;
}

.popover-title {
    &.menu-tabs {
        padding: 0.5rem 0.5rem 0;
        display: block;

        .nav-tabs {
            position: relative;
            top: 1px;
        }
    }

    &.menu-button-group {
        display: none;
    }
}

.popover-actions {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
    border-radius: 0 0 5px 5px;
    text-align: right;
}

.select2-container {
    z-index: 100000;
}

.scancode--searchterm {
    color: lightgray;
    float: right;
}

.layout-abbreviation {
    font-weight: bold;
    color: #fff;
    background: #333;
    padding: 4px 8px;
    font-family: monospace;
    margin-right: 0.5em;
}

.layout-preview img {
    max-width: 100%;
    margin-top: 10px;
}

.key-editor--none__description {
    p {
        padding: 2rem 0;
        margin: 0;
        text-align: center;
    }
}

.select2-item {
    position: relative;
    font-size: 1.5rem;

    &.keymap-name--wrapper {
        padding-left: 50px;
    }

    .layout-segment-code {
        height: 2rem;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -1rem;
    }
}

.preview-wrapper {
    img {
        max-width: 100%;
    }
}

.global-key-setup {
    &.disabled {
        opacity: 0;

        .setting-label {
            color: #999;
        }
    }
}

.setting-label {
    &.disabled {
        color: #999;
    }
}

.global-key-setup--wrapper {
    position: relative;

    .disabled-state--text {
        position: absolute;
        top: 50%;
        margin-top: -4rem;
    }
}

.mouse {
    &.popover-content {
        padding: 10px;
        display: flex;
        align-items: center;
    }

    &__action {
        &--type {
            .nav {
                border-right: 1px solid #ccc;

                li {
                    a {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;

                        &.selected {
                            font-style: italic;
                        }
                    }

                    &.active {
                        a {
                            &.selected {
                                font-style: normal;
                            }

                            &:after {
                                content: '';
                                display: block;
                                position: absolute;
                                width: 0;
                                height: 0;
                                top: 0;
                                right: -4rem;
                                border-color: transparent transparent transparent #337ab7;
                                border-style: solid;
                                border-width: 2rem;
                            }
                        }
                    }
                }
            }
        }

        &--config {
            .btn-placeholder {
                visibility: hidden;
            }
        }
    }
}

.help-text {
    &--mouse-speed {
        margin-bottom: 2rem;
        font-size: 0.9em;
        color: #666;

        p {
            margin: 0;
        }
    }
}
