:host {
    overflow-y: auto;
    display: block;
    height: 100%;
    width: 100%;

    label, input {
        display: block;
    }

    input {
        width: 50px;
        min-width: 0;
        margin: 0.6rem 0;
    }

    .led-setting {
        margin-bottom: 1rem;
    }
}
