:host {
    display: flex;

    &.popover-content {
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .mouse-action {
        .nav {
            border-right: 1px solid #ccc;

            li {
                a {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;

                    &.selected {
                        font-style: italic;
                    }
                }

                &.active {
                    a {
                        position: relative;

                        &.active {
                            background-color: var(--color-icon-hover);
                        }

                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 0;
                            right: -2.2rem;
                            border-color: transparent transparent transparent var(--color-icon-hover);
                            border-style: solid;
                            border-width: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    .details {
        .btn-placeholder {
            visibility: hidden;
        }
    }
}

.mouse__config--click {
    .additional-keys {
        display: inline-block;
        margin-top: 1rem;

        .btn-group:first-child {
            .btn {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .btn-group:last-child {
            .btn {
                border-top: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;

                &:last-child {
                    right: 1px;
                }
            }
        }
    }
}

.mouse__config--speed {
    .btn-default {
        font-size: 25px;
        line-height: 22px;
        padding-top: 4px;
        padding-bottom: 4px;

        span {
            font-size: 13px;
            display: block;
            text-align: center;
        }
    }
}
