:host {
    display: flex;

    &.popover-content {
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .mouse-action {
        align-self: stretch;
        border-right: 1px solid #ccc;

        .nav {
            li {
                a {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    transition: none;
                    line-height: 18px;

                    &.selected {
                        font-style: italic;
                    }
                }

                &.active {
                    a {
                        position: relative;

                        &.active {
                            background-color: var(--color-icon-hover);
                        }

                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 0;
                            bottom: 0;
                            right: -34px;
                            border-color: transparent transparent transparent var(--color-icon-hover);
                            border-style: solid;
                            border-width: 17px;
                        }
                    }
                }
            }
        }
    }

    .details {
        padding-right: 30px;
        padding-left: 30px;

        .btn-placeholder {
            visibility: hidden;
        }
    }
}

.mouse__config {
    .row > * {
        width: auto;
    }
}

.mouse__config--click {
    .additional-keys {
        display: inline-block;

        .btn-group {
            .btn {
                border-radius: 0;
                border-bottom-width: 0;
            }
        }

        .btn-group:first-child {
            .btn:first-child {
                border-top-left-radius: 4px;
            }

            .btn:last-child {
                border-top-right-radius: 4px;
            }
        }

        .btn-group:last-child {
            .btn {
                border-bottom-width: 1px;
            }

            .btn:first-child {
                border-bottom-left-radius: 4px;
            }

            .btn:last-child {
                border-bottom-right-radius: 4px;
            }
        }
    }
}

.mouse__config--speed {
    .btn {
        font-size: 25px;
        line-height: 22px;
        padding-top: 4px;
        padding-bottom: 4px;

        span {
            font-size: 13px;
            display: block;
            text-align: center;
        }
    }
}
