@import '../../../styles/variables';

.popover {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 590px;
    width: 100%;
    user-select: none;
    background-color: var(--color-popover-bg);

    &.leftArrow {
        .arrowCustom {
            transform: none;
            left: 22px;
        }
    }

    &.rightArrow {
        .arrowCustom {
            transform: none;
            right: 22px;
            left: auto;
        }
    }

    > .container-fluid {
        overflow: hidden;
    }
}

.nav-tabs > li {
    overflow: hidden;
    cursor: pointer;

    &.disabled {
        cursor: not-allowed;
    }
}

.arrowCustom {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 16px;

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 21px solid transparent;
        border-right: 21px solid transparent;
        border-bottom: 17px solid rgba(0, 0, 0, 0.2);
        display: block;
        position: absolute;
        top: -1px;
    }

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 16px solid var(--color-popover-bg);
        display: block;
        position: absolute;
        top: 0;
    }
}

.popover-action {
    padding: 8px 14px;
    margin: 0;
    background-color: var(--color-popover-bg);
    border-top: 1px solid var(--color-popover-border);
    border-radius: 0 0 5px 5px;
}

.popover-title {
    background-color: var(--color-popover-bg);

    &.menu-tabs {
        padding: 0.5rem 0.5rem 0;
        border-radius: $border-radius $border-radius 0 0;
        display: block;

        .nav-tabs {
            display: flex;
            border: 0;

            .nav-item {
                &:hover {
                    background-color: var(--color-popover-tab-hover);
                }

                &.active {
                    position: relative;
                    z-index: 2;

                    a.active {
                        border-bottom: 1px solid var(--color-popover-bg-light);
                    }
                }
            }

            .menu-tabs--item {
                display: flex;
                align-items: center;

                fa-icon {
                    margin-right: 0.25em;
                }
            }
        }
    }
}

.popover-content {
    padding: 10px 24px;
    border-top: 1px solid var(--color-popover-border);
    background-color: var(--color-popover-bg-light);
}

.pr-10 {
    padding-right: 10px;
}

.popover-overlay {
    position: fixed;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: 1050;
    background: rgba(0, 0, 0, 0);
    transition: background 200ms ease-out, height 0ms 200ms linear;

    &.display {
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        transition: background 200ms ease-out;
    }
}

.popover-action-form {
    margin-top: 4px;

    label {
        margin-right: 5px;

        &.disabled {
            cursor: not-allowed;
            color: var(--color-popover-label-disabled);
        }
    }
}
