<ul class="menu--top">
    <li class="sidebar__level-1--item">
        <div class="sidebar__level-1">
            <i class="fa fa-keyboard-o"></i> Keymaps
            <a [routerLink]="['/keymap/add']" class="btn btn-default pull-right btn-sm">
                <i class="fa fa-plus"></i>
            </a>
            <i class="fa fa-chevron-up pull-right" (click)="toggleHide($event, 'keymap')"></i>
        </div>
        <ul [@toggler]="animation.keymap">
            <li *ngFor="let keymap of keymaps" class="sidebar__level-2--item">
                <div class="sidebar__level-2">
                    <a [routerLink]="['/keymap', keymap.id]">{{keymap.name}}</a>
                    <i *ngIf="keymap.isDefault" class="fa fa-star sidebar__fav"></i>
                </div>
            </li>
        </ul>
    </li>
    <li class="sidebar__level-1--item">
        <div class="sidebar__level-1">
            <i class="fa fa-play"></i> Macros
            <a (click)="addMacro()" class="btn btn-default pull-right btn-sm">
                <i class="fa fa-plus"></i>
            </a>
            <i class="fa fa-chevron-up pull-right" (click)="toggleHide($event, 'macro')"></i>
        </div>
        <ul [@toggler]="animation.macro">
            <li *ngFor="let macro of macros" class="sidebar__level-2--item">
                <div class="sidebar__level-2">
                    <a [routerLink]="['/macro', macro.id]">{{macro.name}}</a>
                </div>
            </li>
        </ul>
    </li>
    <li class="sidebar__level-1--item">
        <div class="sidebar__level-1">
            <i class="fa fa-puzzle-piece"></i> Add-on modules
            <i class="fa fa-chevron-up pull-right" (click)="toggleHide($event, 'addon')"></i>
        </div>
        <ul [@toggler]="animation.addon">
            <li class="sidebar__level-2--item" data-name="Key cluster" data-abbrev="">
                <div class="sidebar__level-2">
                    <a href="#">Key cluster</a>
                </div>
            </li>
            <li class="sidebar__level-2--item" data-name="Trackball" data-abbrev="">
                <div class="sidebar__level-2">
                    <a href="#">Trackball</a>
                </div>
            </li>
            <li class="sidebar__level-2--item" data-name="Toucpad" data-abbrev="">
                <div class="sidebar__level-2">
                    <a href="#">Touchpad</a>
                </div>
            </li>
            <li class="sidebar__level-2--item" data-name="Trackpoint" data-abbrev="">
                <div class="sidebar__level-2">
                    <a href="#">Trackpoint</a>
                </div>
            </li>
        </ul>
    </li>
    <li class="sidebar__level-1--item">
        <div class="sidebar__level-1">
            <i class="fa fa-exclamation-triangle "></i> Legacy
            <i class="fa fa-chevron-up pull-right"></i>
        </div>
        <ul>
            <li class="sidebar__level-2--item" data-name="Keymap legacy" data-abbrev="QTY">
                <div class="sidebar__level-2">
                    <a [routerLink]="['/legacy', 'keymap']">Keymap HTML</a>
                </div>
            </li>
            <li class="sidebar__level-2--item " data-name="Macro legacy" data-abbrev="DVR">
                <div class="sidebar__level-2">
                    <a [routerLink]="['/legacy', 'macro']">Macro</a>
                </div>
            </li>
        </ul>
    </li>
</ul>
<ul class="menu--bottom">
    <li class="sidebar__level-1--item">
        <div class="sidebar__level-1"><i class="fa fa-gear"></i> Settings</div>
    </li>
</ul>