<ng-template [ngIf]="keymapOptions.length === 0">
    <span> No keymaps are available to choose from. Create a keymap first! </span>
</ng-template>
<ng-template [ngIf]="keymapOptions.length > 0">
    <div>
        <b>Switch to keymap:</b>
        <select2
                [data]="keymapOptions"
                [value]="selectedKeymap?.abbreviation || -1"
                (valueChanged)="onChange($event)"
                [width]="'100%'"
        ></select2>
    </div>
    <div>
        <div class="empty" *ngIf="!selectedKeymap?.abbreviation">
            <img src="./images/base-layer--blank.svg">
        </div>
        <svg-keyboard *ngIf="selectedKeymap?.abbreviation"
                    [moduleConfig]="selectedKeymap.layers[0].modules">
        </svg-keyboard>
    </div>
</ng-template>