#sidebar-menu {
  background-color: #eee;
  position: fixed;
  overflow-y: scroll;
  width: 250px;
  height: 100%;
}

#sidebar-menu ul {
  padding-left: 15px;
}

#sidebar-menu ul li {
  list-style: none;
  padding: 0;
}

#main-content {
  margin-left: 250px;
}

.pane-title {
  margin-bottom: 1em;
}

.keymap__name.active,
.keymap__abbrev.active {
  box-shadow: 0 0 0px 1px #ccc, 0 0 5px 0px #ccc;
  padding: 0 .5rem;
  margin: 0 -.5rem;
}

.keymap__name,
.keymap__abbrev {
  border-bottom: 2px dotted #999;
}

.keymap__abbrev,
.keymap__abbrev.active {
  padding: 0 .5rem;
  margin: 0 .25rem;
}

.keymap__is-default.fa-star {
  color: #ffd700;
}

.keymap__is-default.fa-star-o {
  color: #000;
}

.keymap__is-default:hover {
  color: #ffd700;
  cursor: pointer;
}

.unk--wrapper {
  /*margin-top: 10rem;*/
}

.uhk {
  max-width: 100%;
}

.owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}

.btn:not(.btn-primary) {
  border: none;
}
