:host {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 5px;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    width: 16ch;
    display: inline-block;
}
