<div class="row">
    <h1 class="col-xs-12 pane-title">
        <i class="fa fa-gear"></i>
        <span class="macro__name pane-title__name">Settings</span>
    </h1>
</div>
<div *ngIf="!runInElectron">
    To be done...
</div>
<auto-update-settings *ngIf="runInElectron"
                      [version]="version"
                      [settings]="autoUpdateSettings$ | async"
                      [checkingForUpdate]="checkingForUpdate$ | async"
                      [message]="autoUpdateMessage$ | async"
                      (toggleCheckForUpdateOnStartUp)="toogleCheckForUpdateOnStartUp($event)"
                      (toggleUsePreReleaseUpdate)="toogleUsePreReleaseUpdate($event)"
                      (checkForUpdate)="checkForUpdate()">
</auto-update-settings>
