@import '../../../../styles/variables';

:host {
    .flex-container {
        height: 100vh;
    }

    .update-panel-visible .flex-container {
        height: calc(100vh - #{$main-content-top-margin-on-update});
    }

    p {
        margin: 1.5rem 0;
    }
}
