:host {
    background-color: yellow;
}

.wrapper {
    background-color: black;
}

.xterm-standard {
    color: white;
}

.xterm-error {
    color: red;
}

ul {
    li {
        padding-left: 5px;
        span:before {
            content: '$ ';
        }
    }
}
