:host {
    display: flex;
    flex-direction: column;
    position: relative;
}

.macro-delay {
    &__presets {
        margin-top: 1rem;

        button {
            margin-right: 0.25rem;
            margin-bottom: 0.25rem;
        }
    }
}
