<div class="macro-delay">
    <div class="row">
        <div class="col-xs-12">
            <label>Enter delay in seconds</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
          <input type="number" 
                 min="0" 
                 max="1000" 
                 step="0.1" 
                 placeholder="Delay amount" 
                 class="form-control" 
                 [(ngModel)]="delay" 
                 (ngModelChange)="setDelay($event)">
        </div>
    </div>
    <div class="row macro-delay__presets">
        <div class="col-xs-12">
          <button class="btn btn-sm btn-default" (click)="setDelay(0.3)">0.3s</button>
          <button class="btn btn-sm btn-default" (click)="setDelay(0.5)">0.5s</button>
          <button class="btn btn-sm btn-default" (click)="setDelay(0.8)">0.8s</button>
          <button class="btn btn-sm btn-default" (click)="setDelay(1)">1s</button>
          <button class="btn btn-sm btn-default" (click)="setDelay(2)">2s</button>
          <button class="btn btn-sm btn-default" (click)="setDelay(3)">3s</button>
          <button class="btn btn-sm btn-default" (click)="setDelay(3)">4s</button>
          <button class="btn btn-sm btn-default" (click)="setDelay(3)">5s</button>
        </div>
    </div>
</div>
