.uhk-message-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.agent-logo {
    padding: 2em;
}

.message {
    display: flex;
    flex-direction: column;

    > h2 {
        margin-top: 10px;
    }
}
