:host {
    overflow-y: auto;
    display: block;
    height: 100%;
}

.flex-container {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-grow {
    background-color: black;
    overflow: auto;
    flex: 1;
}

.footer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
