:host {
    overflow: visible;
    display: block;

    &.macro-item:first-of-type {
        .list-group-item {
            border-radius: 4px 4px 0 0;
        }
    }

    &.macro-item:last-of-type {
        .list-group-item {
            border-bottom: 0;
        }
    }

    &.gu-transit {
        opacity: 0.2;

        .list-group-item {
            background: var(--color-macro-bg);
        }
    }
}

.action {
    &--item {
        display: flex;
        flex-shrink: 0;
        border: 0;
        user-select: none;

        icon {
            margin: 0 5px;

            &[name='trash'] {
                padding-top: 0.25rem;
            }
        }

        > div {
            display: flex;
            flex: 1;
        }

        &:first-child {
            border-radius: 0;
        }

        &.is-editing {
            background: var(--color-macro-bg);
            border-bottom: 1px solid var(--color-macro-border);
        }

        &--wrap {
            justify-content: space-between;
            padding-top: 0.25rem;

            &.pointer {
                &:hover {
                    cursor: pointer;
                    color: var(--color-icon-hover);
                }
            }
        }

        .macro-command-item {
            display: flex;
            flex-direction: column;

            .macro-command-item-header {
                display: flex;
                gap: 0.25em;
                align-items: center;

                .action--movable {
                    margin-top: 0;
                }
            }
        }

        .macro-command-editor-container {
            height: 100%;
            width: 100%;
        }
    }

    &--title {
        display: flex;
        flex: 1;
    }

    &--movable {
        font-size: 1.25rem;
        margin-top: 0.25rem;

        &:hover {
            cursor: move;
        }
    }
}

.list-group-item {
    margin-bottom: 0;
    padding: 0.25rem 1.25rem 0.75rem 0.5rem;
}

.macro-action-editor__container {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    border: none;
}

svg-sprite-image {
    margin-left: 0.25em;
}
