:host {
    overflow: visible;
    display: block;

    &.macro-item:first-of-type {
        .list-group-item {
            border-radius: 4px 4px 0 0;
        }
    }

    &.macro-item:last-of-type {
        .list-group-item {
            border-bottom: 0;
        }
    }

    &.gu-transit {
        opacity: 0.2;

        .list-group-item {
            background: var(--color-macro-bg);
        }
    }
}

.action {
    &--item {
        display: flex;
        flex-shrink: 0;
        border: 0;
        border-bottom: 1px solid var(--color-macro-border);
        user-select: none;

        icon {
            margin: 0 5px;
        }

        > div {
            display: flex;
            flex: 1;
        }

        &:first-child {
            border-radius: 0;
        }

        &.is-editing {
            background: var(--color-macro-bg);
        }

        &--wrap {
            justify-content: space-between;

            &.pointer {
                &:hover {
                    cursor: pointer;
                    color: var(--color-icon-hover);
                }
            }
        }

        .btn-change-macro-action {
            margin-top: 0.2em;
            padding: 2px;
            width: 90px;
            visibility: hidden;
        }

        .macro-command-item {
            &:focus-within {
                .btn-change-macro-action {
                    visibility: visible;
                }
            }
        }

        .macro-command-editor-container {
            height: 100%;
            width: 100%;
            padding-left: 0.5em;
        }
    }

    &--title {
        display: flex;
        flex: 1;
    }

    &--movable {
        &:hover {
            cursor: move;
        }
    }
}

.list-group-item {
    margin-bottom: 0;
}

.macro-action-editor__container {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    border: none;
    overflow: hidden;
}
