:host {
    display: block;

    &.disabled {
        button {
            cursor: no-drop;
            background: var(--color-layers-button-disabled);
            pointer-events: none;

            &.btn-primary {
                background: var(--color-layers-button-active-disabled);
                border-color: var(--color-layers-button-active-disabled);
            }
        }
    }

    .group-container {
        display: inline-block;
        padding-bottom: 0.25em;
        padding-top: 0.25em;

        .group-title {
            display: inline-block;
            font-size: 18px;
            padding-left: 0.45em;
            padding-right: 0.45em;
            margin: 0;
        }
    }
}
