:host {
    display: block;

    &.disabled {
        button {
            cursor: no-drop;
            background: var(--color-layers-button-disabled);
            pointer-events: none;

            &.btn-primary {
                background: var(--color-layers-button-active-disabled);
                border-color: var(--color-layers-button-active-disabled);
            }
        }
    }
}

.uhk {
    &__layer-switcher {
        &--wrapper {
            position: relative;
            margin-bottom: 2rem;

            &:before {
                content: attr(data-title);
                display: inline-block;
                position: absolute;
                bottom: 0.55em;
                right: 100%;
                font-size: 18px;
                padding-right: 0.45em;
                margin: 0;
            }
        }
    }
}
