:host {
    display: block;

    &.disabled {
        button {
            cursor: no-drop;
            background: var(--color-layers-button-disabled);
            pointer-events: none;

            &.btn-primary {
                background: var(--color-layers-button-active-disabled);
                border-color: var(--color-layers-button-active-disabled);
            }
        }
    }

    .layer-header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5em;

        .group-container {
            display: inline-flex;
            gap: 0.5em;
            max-width: 100%;

            .group-title {
                display: inline-block;
                align-self: center;
                font-size: 18px;
            }

            .btn-group {
                flex-wrap: wrap;
                .btn {
                    flex-grow: 0;
                }
            }
        }
    }
}
