$primary:       #337ab7;
$secondary:     #6d6d6d;
$success:       #5cb85c;
$info:          #5bc0de;
$warning:       #f0ad4e;
$danger:        #d9534f;
$light:         #fff;
$dark:          #212529;

$enable-dark-mode: false;
