// Light aka default theme
$dark-theme: false;

$white: #fff;
$color-bg: $white;
$color-bg-light: #f7f7f7;
$color-text: #111;
$color-text-highlight: #333;
$color-copy-icon: #6a737d;

$btn-default-bg: $white;
$btn-default-border: #ccc;

$icon-hover: $primary;
$icon-hover-delete: $danger;

// Bootstrap variables
$body-bg: $color-bg;
$body-color: $color-text;
$link-color: $primary;
$link-hover-color: shade-color($link-color, 15%);
$input-bg: $color-bg;
$input-color: $color-text;
$tooltip-color: #111;
$tooltip-bg: $white;
$tooltip-arrow-color: $white;
$tooltip-border-color: #ccc;
$color-select-active-bg: #f5f5f5;
$color-select-active-text: #333;
$color-select-hover-bg: #e9ecef;
$color-select-hover-text: #16181b;

$popover-header-bg: $color-bg-light;
$popover-arrow-color: $color-bg-light;
$component-active-bg: $primary !default;
$input-focus-border-color: lighten($component-active-bg, 25%) !default;

:root,
.theme-light {
    --bs-list-group-bg: #{$input-bg};

    --color-bg: #{$color-bg};
    --color-btn-danger-text: #{$white};
    --color-sidemenu-bg: #f5f5f5;
    --color-sidemenu-border: #ccc;
    --color-sidemenu-text: #333;
    --color-sidemenu-active-bg: rgba(0, 0, 0, 0.18);
    --color-sidemenu-active-text: #{$color-text-highlight};
    --color-sidemenu-star: #666;

    --color-secondary-sidemenu-bg: #fafafa;
    --color-secondary-sidemenu-hover-link-color: rgba(0, 0, 0, 0.05);
    --color-hover-link-color: rgba(0, 0, 0, 0.05);

    --macro-count-badge-bg: #{$secondary};
    --macro-count-badge-color: #{$light};

    --color-keyboard-bg: #{$color-bg-light};
    --color-keyboard-text: #333;
    --color-keyboard-text-shadow: #fff;
    --color-keyboard-shadow: rgba(0, 0, 0, 0.2);
    --color-keyboard-shadow2: #{$white};
    --color-keyboard-border: #ccc;
    --color-keyboard-key-bg: #{$color-bg-light};
    --color-keyboard-key-hover: #737373;
    --color-keyboard-key-active: #{$primary};
    --color-module-puzzle-path-fill: #{$white};

    --color-input-border: #ccc;
    --color-btn-secondary-border: #ccc;

    --color-icon-hover: #{$icon-hover};
    --color-icon-hover-delete: #{$icon-hover-delete};
    --color-icon-capture-keystroke: #{$danger};

    --color-slider-base-bg: #{$white};
    --color-slider-handle-bg: #{$white};
    --color-slider-connect-bg: #{$primary};

    --color-popover-bg: #{$color-bg-light};
    --color-popover-bg-light: #{$white};
    --color-popover-border: #ebebeb;
    --color-popover-tab-hover: #{shade-color($color-bg-light, 5%)};
    --color-popover-label-disabled: #959595;
    --color-keymap-tab-background: #{color($white)};
    --color-keypress-tab-setting-label-disabled: #999;
    --color-keypress-tab-disabled-info-text: #31708f;

    --color-progress-bar-bg: #{#d3e4f2};
    --color-progress-bar-progress: #{tint-color($primary, 20%)};
    --color-progress-bar-progress-rgb-colors: #{tint-color($success, 20%)};
    --color-progress-bar-text: #{$color-text};

    --color-macro-bg: #{$color-bg-light};
    --color-macro-border: #ebebeb;

    --color-select-active-bg: #{$color-select-active-bg};
    --color-select-active-text: #{$color-select-active-text};

    --color-configuration-history-text: #{$color-text};

    --color-code-bg: #f6f8fa;
    --color-code-text: #6a737d;
    --color-xterm-bg: #000;
    // uses as the textarea border color too
    --color-xterm-border: #444;
    --color-xterm-text: #{$white};
    --color-xterm-text-error: red;

    --color-update-available-bg: #428bca;
    --color-update-available-text: #{$white};

    --color-firmware-upgrade-panel-bg: #fff3cd;
    --color-firmware-upgrade-panel-text: #664d03;

    --color-highlight-arrow: #{$primary};

    --color-layers-button-disabled: rgba(#ccc, 0.43);
    --color-layers-button-active-disabled: #7c7c7c;

    --color-out-of-space-warning-bg: #ffc107;
    --color-out-of-space-warning-text: #000;

    --color-smart-macro-split-glutter: #eee;
    --color-smart-macro-border-color: #ccc;
    --color-smart-macro-hover-color: #ececec;
    --color-smart-macro-focus-bg-color: white;
}
