.privilege-checker-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

uhk-message {
    max-width: 50%;
}

.privilege-error {
    animation: error-fade-in 2s;
}

@keyframes error-fade-in {
    0% {
        color: white;
        background-color: red;
    }

    100% {
        color: inherit;
        background-color: inherit;
    }
}
