:host {
    position: fixed;
    right: 1em;
    z-index: 100;

    .alert {
        margin-bottom: 0.25em;
        padding-right: 2rem;

        .close {
            top: -2px;
            right: -5px;

            > span {
                position: relative;
                top: -2px;
            }
        }

        .undo-button {
            cursor: pointer;
            padding: 0 1rem;
        }
    }
}
