:host {
    position: fixed;
    right: 1em;

    .alert {
        padding: 5px 10px 5px 5px;

        margin-bottom: 0.25em;
        margin-top: -2em;

        .close {
            right: -5px;
        }

        .undo-button {
            cursor: pointer;
        }
    }
}
