:host {
    display: block;
    width: 100%;
    position: relative;
}

.svgKeyboard {
    position: relative;
    z-index: 50;
}

editable-text {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    position: relative;
    z-index: 51;
}

.module-merged {
    transform: none;
    transition: transform 500ms;
}

.module-rotate-right {
    transform: translate(-1%, 31.7%) rotate(-10deg) scale(0.79, 0.79);
    transition: transform 500ms;
}

.module-rotate-left {
    transform: translate(1%, 31%) rotate(10.8deg) scale(0.79, 0.79);
    transition: transform 500ms;
}
