:host {
    display: block;
    width: 100%;
    position: relative;
}

.svgKeyboard {
    position: relative;
    z-index: 50;
}

editable-text {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    z-index: 51;
}
