@import './variables';

%btn-link {
    padding: 7px 0;
    text-decoration: none;
    border: 0;
    width: 100%;

    &:focus {
        outline: none;
    }
}

@mixin invertInDarkTheme($percentage) {
    @if ($dark-theme) {
        filter: invert($percentage);
    }
}

@mixin code-style() {
    color: var(--color-code-text);
    background-color: var(--color-code-bg);
    text-align: left;
}
