ngx-select,
.ngx-select {
    .ngx-select__toggle {
        font-size: 14px;
    }

    input.input-sm {
        font-size: 14px;
    }

    .dropdown-header {
        font-weight: bold;
        font-size: 1em;
        color: black;
        padding-left: 6px;
    }

    .dropdown-divider {
        display: none;
    }

    a {
        &.ngx-select__item {
            padding-right: 6px;
            padding-left: 6px;
        }

        &.ngx-select__item_active {
            background-color: #dddddd;
            color: black;
        }
    }

    .indent-dropdown-item {
        padding-left: 8px;
        display: flex;
        justify-content: space-between;

        .scancode--searchterm {
            text-align: right;
            color: #b7b7b7;
        }
    }

    small {
        display: block;
        padding-left: 8px;
    }
}
