ngx-select,
.ngx-select {
    .ngx-select__toggle {
        background-color: var(--color-input-bg) !important; /* stylelint-disable-line declaration-no-important */
        color: var(--color-input-text) !important; /* stylelint-disable-line declaration-no-important */
        border-color: var(--color-input-border) !important; /* stylelint-disable-line declaration-no-important */
        font-size: 14px;
    }

    input.input-sm {
        font-size: 14px;
    }

    .dropdown-header {
        font-weight: bold;
        font-size: 1em;
        color: var(--color-input-text);
        padding-left: 6px;
    }

    .dropdown-divider {
        display: none;
    }

    a {
        &.ngx-select__item {
            padding-right: 6px;
            padding-left: 6px;
        }

        &:active,
        &.ngx-select__item_active {
            background-color: var(--color-select-active-bg);
            color: var(--color-select-active-text);
        }
    }

    .indent-dropdown-item {
        padding-left: 8px;
        display: flex;
        justify-content: space-between;

        .scancode--searchterm {
            text-align: right;
            color: var(--color-input-text);
        }
    }

    small {
        display: block;
        padding-left: 8px;
    }
}
