table.settings {
    width: 100%;
    $settings-slider-align: 1.8em;

    tbody {
        tr {
            &.separator {
                border-bottom: 1px solid var(--color-sidemenu-border);
            }

            td {
                height: 3em;
                width: 50%;

                h3.margin-top {
                    padding-top: 1em;
                }

                .form-check {
                    display: inline-block;

                    &:first-of-type {
                        padding-left: 0;
                    }

                    label {
                        margin-left: 0.25em;
                    }
                }

                .form-check-input {
                    margin-left: $settings-slider-align;
                }

                div.select-container {
                    display: inline-block;
                    margin-bottom: 0.5em;
                    margin-top: 0.5em;
                    width: 150px;

                    &.align-slider {
                        margin-left: $settings-slider-align;
                    }
                }
            }
        }
    }

    &.led-settings {
        thead,
        tbody {
            tr {
                td:nth-of-type(1) {
                    width: 20%;
                }

                td:nth-of-type(2),
                td:nth-of-type(3) {
                    width: 40%;
                }
            }
        }

        tbody {
            tr {
                td {
                    vertical-align: top;

                    &.label {
                        padding-top: 0.75em;
                    }

                    &:has(fade-timeout-slider) {
                        height: 90px;
                    }

                    slider-wrapper {
                        --slider-value-width: 45px;
                        display: block;
                        margin-left: -1.25rem;
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}
