// Extend Bootstrap tooltip styling functionality
.tooltip {
    .tooltip-inner {
        border: $tooltip-border-width solid $tooltip-border-color;
    }
 
    .arrow {
        &:after {
            content: '';
            position: absolute;
            border: solid transparent;
        }
    }
}

.bs-tooltip-top {
    .arrow {
        margin-left: -1 * $tooltip-arrow-offset * $tooltip-border-width;

        &:before {
            border-top-color: $tooltip-border-color;
        }

        &:after {
            top: -1 * $tooltip-arrow-offset * $tooltip-border-width;
            border-width: $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
            border-top-color: $tooltip-arrow-color;
        }
    }
}

.bs-tooltip-right {
    .arrow {
        margin-top: -1 * $tooltip-arrow-offset * $tooltip-border-width;

        &:before {
            border-right-color: $tooltip-border-color;
        }

        &:after {
            right: -1 * $tooltip-arrow-offset * $tooltip-border-width;
            border-width: ($tooltip-arrow-width / 2) $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
            border-right-color: $tooltip-arrow-color;
        }
    }
}

.bs-tooltip-bottom {
    .arrow {
        margin-left: -1 * $tooltip-arrow-offset * $tooltip-border-width;

        &:before {
            border-bottom-color: $tooltip-border-color;
        }

        &:after {
            top: $tooltip-arrow-offset * $tooltip-border-width;
            bottom: 0;
            border-width: 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
            border-bottom-color: $tooltip-arrow-color;
        }
    }
}

.bs-tooltip-left {
    .arrow {
        margin-top: -1 * $tooltip-arrow-offset * $tooltip-border-width;

        &:before {
            border-left-color: $tooltip-border-color;
        }

        &:after {
            left: -1 * $tooltip-arrow-offset * $tooltip-border-width;
            border-width: ($tooltip-arrow-width / 2) 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
            border-left-color: $tooltip-arrow-color;
        }
    }
}

.bs-tooltip-auto {
    &[x-placement^='top'] {
        @extend .bs-tooltip-top;
    }

    &[x-placement^='right'] {
        @extend .bs-tooltip-right;
    }

    &[x-placement^='bottom'] {
        @extend .bs-tooltip-bottom;
    }

    &[x-placement^='left'] {
        @extend .bs-tooltip-left;
    }
}

