$fa-font-path : '../node_modules/font-awesome/fonts';
$uhk-icon-path: 'styles/uhk-icons/uhk-css.svg';

$dark-grey: #ccc;

$icon-hover: #337ab7;
$icon-hover-delete: #900;

$tooltip-border-width: 1px;
$tooltip-arrow-width: 5px;
$tooltip-border-color: $dark-grey;
$tooltip-background-color: #fff;
$tooltip-inner-color: #000;
$tooltip-arrow-border-width: $tooltip-arrow-width + $tooltip-border-width;
