// Paths

$fa-font-path : '../node_modules/@fortawesome/fontawesome-free/webfonts';
$uhk-icon-path: './uhk-css.svg';

// Override Bootstrap variables
// This needs to be done BEFORE Bootstrap default variables are imported

$font-size-base: 0.875rem; // 14 px
$border-radius: 0.25rem;

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer / 4,
    2: $spacer / 2,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
);

$zindex-tooltip: 50001;

$tooltip-border-width:              1px;
$tooltip-opacity:                   1;
$tooltip-padding-y:                 $spacer / 4;
$tooltip-padding-x:                 $spacer / 2;

$popover-font-size: $font-size-base;

// UHK app variables

$update-notification-height: 35px;
$main-content-top-margin-on-update: 35px + 10px;
$icon-dark-theme-inversion: 70%;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
