:host {
    position: relative;

    .module-nav {
        transition-timing-function: ease-out;
        transition: 0.2s;
        cursor: pointer;

        path {
            fill: white;
        }

        &:hover {
            circle {
                fill: var(--color-keyboard-key-hover);
            }
        }
    }
}
