@import 'bootstrap/scss/mixins/breakpoints';
@import '../../../../styles/variables';

:host {
    display: block;
    --slider-value-width: 35px;

    label {
        display: block;
        font-weight: normal;
    }

    .backlighting-mode-container {
        margin-left: 1.6rem;
    }

    .functional-backlight-color-container {
        margin-left: 1.6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
    }

    .fade-timeout-container {
        display: flex;
        align-items: center;
        gap: 0.5em;
        margin-left: 2.5rem;

        input {
            width: 11ch;
        }
    }
}
