.progress-bar-container {
    position: relative;

    .progress {
        background-color: var(--color-progress-bar-bg);
        min-height: 1.4rem;
    }

    .progress-bar {
        background-color: var(--color-progress-bar-progress);
    }

    .progress-text {
        position: absolute;

        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        color: var(--color-progress-bar-text);
        text-align: center;
        background-color: transparent;
    }
}
