.progress-bar-container {
    position: relative;

    .progress {
        background-color: var(--color-progress-bar-bg);
        min-height: 1.4rem;
    }

    .progress-text {
        position: absolute;

        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        color: var(--color-progress-bar-text);
        text-align: center;
        background-color: transparent;
    }
}

.progress-bar-legends-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;

    .legend-color {
        display: inline-block;
        height: 1em;
        width: 1em;
    }
}
