.progress-bar-container {
    position: relative;

    .progress-bar {
        background-color: #d3e4f2;
    }

    .progress-text {
        position: absolute;

        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        text-align: center;
        background-color: transparent;
    }
}
