.macro-key {
    &__container {
        padding: 0;
    }
  
    &__types {
        margin-left: 0;
        padding: 0 0 1rem;
    }

    &__action {
        &-container {
            margin-top: -1rem;
            padding-top: 1rem;
            border-left: 1px solid #ccc;
        }
        
        padding-left: 3rem;
        padding-bottom: 1rem;
    }
}

.fa {
    min-width: 14px;
}