<div class="col-xs-12 macro-key__container">
    <div class="col-xs-4 macro-key__types">
        <ul class="nav nav-pills nav-stacked">
            <li #keyMove [class.active]="activeTab === TabName.Keypress" (click)="selectTab(TabName.Keypress)">
                <a>
                    <i class="fa fa-hand-pointer-o"></i>
                    <span>Press key</span>
                </a>
            </li>
            <li #keyHold [class.active]="activeTab === TabName.Hold" (click)="selectTab(TabName.Hold)">
                <a>
                    <i class="fa fa-hand-rock-o"></i>
                    <span>Hold key</span>
                </a>
            </li>
            <li #keyRelease [class.active]="activeTab === TabName.Release" (click)="selectTab(TabName.Release)">
                <a>
                    <i class="fa fa-hand-paper-o"></i>
                    <span>Release key</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-8 macro-key__action-container">
        <div class="macro-key__action">
            <h4 *ngIf="activeTab === TabName.Keypress">Press key</h4>
            <h4 *ngIf="activeTab === TabName.Hold">Hold key</h4>
            <h4 *ngIf="activeTab === TabName.Release">Release key</h4>
            <keypress-tab></keypress-tab>
        </div>
    </div>
</div>