:host {
    display: flex;
    flex-direction: column;

    .scancode-options {
        margin-bottom: 10px;
        margin-top: 2px;
        > b {
            position: relative;
            top: 2px;
        }
    }

    .modifier-options {
        > b {
            position: relative;
            top: -9px;
            margin-right: 4px;
        }

        .btn-toolbar {
            display: inline-block;
        }
    }

    .long-press-container {
        display: flex;
        margin-top: 3rem;

        > b {
            margin-right: 0.6em;
            align-items: center;
            display: flex;
        }

        .secondary-role {
            width: 135px;
        }

        icon {
            margin-left: 0.6em;
        }
    }
}
