<div class="scancode-options" style="margin-bottom:10px; margin-top:2px">
    <b class="setting-label" style="position:relative; top:2px;">Scancode:</b>
    <select2 #scanCodeSelect [data]="scanCodeGroups" [selectedValue]="scanCode.toString()" (valueChanged)="onScancodeChange($event)"
        [templateResult]="scanCodeTemplateResult" [width]="200"></select2>
    <capture-keystroke-button></capture-keystroke-button>
</div>
<div class="scancode-options">
    <b class="setting-label" style="position:relative; top:-9px; margin-right:4px;">Modifiers:</b>
    <div class="btn-toolbar modifiers" style="display:inline-block">
        <div class="btn-group btn-group-sm modifiers__left">
            <button type="button" class="btn btn-default" *ngFor="let modifier of leftModifiers; let index = index" [class.btn-primary]="leftModifierSelects[index]"
                (click)="toggleModifier(false, index)">
                {{modifier}}
            </button>
        </div>
        <div class="btn-group btn-group-sm modifiers__right">
            <button type="button" class="btn btn-default" *ngFor="let modifier of rightModifiers; let index = index" [class.btn-primary]="rightModifierSelects[index]"
                (click)="toggleModifier(true, index)">
                {{modifier}}
            </button>
        </div>
    </div>
</div>
<div class="long-press-container">
    <b class="setting-label" style="position:relative;">Long press action:</b>
    <select2 #longPressSelect [data]="longPressGroups" [selectedValue]="selectedLongPressIndex.toString()" (valueChanged)="onLongpressChange($event)"
        [width]="140"></select2>
    <icon name="question-circle" title="This action happens when the key is being held along with another key."></icon>
</div>