:host {
    margin-top: 0.5em;

    .placeholder {
        color: gray;
        display: inline-block;

        .glyphicon {
            color: black;
        }
    }

    .editable,
    .placeholder {
        cursor: pointer;
    }

    .editable-text__trigger {
        color: inherit;
        text-decoration: none;
        white-space: normal;
    }

    textarea.text-editor {
        display: block;
        width: 100%;
    }

    .buttons {
        margin-top: 0.5em;
    }
}
