.app-update-available-wrapper {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: var(--color-update-available-bg);
    color: var(--color-update-available-text);
    text-align: center;
    border-radius: 0;
    border-width: 0;

    .btn-link {
        color: var(--color-update-available-text);

        &.underline {
            text-decoration: underline;
        }
    }
}
