<div class="col-xs-12 macro-mouse__container">
    <div class="col-xs-4 macro-mouse__types">
        <ul class="nav nav-pills nav-stacked">
            <li #mouseMove [class.active]="activeTab === TabName.Move" (click)="selectTab(TabName.Move)">
                <a>
                    <i class="fa fa-arrows"></i>
                    <span>Move pointer</span>
                </a>
            </li>
            <li #mouseScroll [class.active]="activeTab === TabName.Scroll" (click)="selectTab(TabName.Scroll)">
                <a>
                    <i class="fa fa-arrows-v"></i>
                    <span>Scroll</span>
                </a>
            </li>
            <li #mouseClick [class.active]="activeTab === TabName.Click" (click)="selectTab(TabName.Click)">
                <a>
                    <i class="fa fa-mouse-pointer"></i>
                    <span>Click button</span>
                </a>
            </li>
            <li #mouseHold [class.active]="activeTab === TabName.Hold" (click)="selectTab(TabName.Hold)">
                <a>
                    <i class="fa fa-hand-rock-o"></i>
                    <span>Hold button</span>
                </a>
            </li>
            <li #mouseRelease [class.active]="activeTab === TabName.Release" (click)="selectTab(TabName.Release)">
                <a>
                    <i class="fa fa-hand-paper-o"></i>
                    <span>Release button</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-8 macro-mouse__actions" [ngSwitch]="activeTab">
        <div #tab *ngSwitchCase="TabName.Move">
            <h4>Move pointer</h4>
            <p>Use negative values to move down or left from current position.</p>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="move-mouse-x">X</label>
                    <input id="move-mouse-x" type="number" class="form-control" [(ngModel)]="macroAction.moveX"> pixels
                </div>
                <div class="form-group">
                    <label for="move-mouse-y">Y</label>
                    <input id="move-mouse-y" type="number" class="form-control" [(ngModel)]="macroAction.moveY"> pixels
                </div>
            </div>
        </div>
        <div #tab *ngSwitchCase="TabName.Scroll">
            <h4>Scroll</h4>
            <p>Use negative values to move down or left from current position.</p>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="scroll-mouse-x">X</label>
                    <input id="scroll-mouse-x" type="number" class="form-control" [(ngModel)]="macroAction.scrollX"> pixels
                </div>
                <div class="form-group">
                    <label for="scroll-mouse-y">Y</label>
                    <input id="scroll-mouse-y" type="number" class="form-control" [(ngModel)]="macroAction.scrollY"> pixels
                </div>
            </div>
        </div>
        <div #tab *ngIf="activeTab === TabName.Click || activeTab === TabName.Hold || activeTab === TabName.Release">
            <h4 *ngIf="activeTab === TabName.Click">Click mouse button</h4>
            <h4 *ngIf="activeTab === TabName.Hold">Hold mouse button</h4>
            <h4 *ngIf="activeTab === TabName.Release">Release mouse button</h4>
            <div class="btn-group macro-mouse__buttons">
                <button *ngFor="let buttonLabel of buttonLabels; let buttonIndex = index"
                        class="btn btn-default" 
                        [class.btn-primary]="hasButton(buttonIndex)" 
                        (click)="setMouseClick(buttonIndex)">{{buttonLabel}}</button>
            </div>
        </div>
    </div>
</div>