@import '~bootstrap/scss/mixins/breakpoints';
@import '../../../../styles/variables';

:host {
    display: block;
    width: 100%;
}

.action--editor {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    border: 0;
}

.nav {
    padding-bottom: 1rem;

    li {
        white-space: nowrap;
        width: 100%;

        a {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            user-select: none;

            &:hover {
                cursor: pointer;
            }
        }

        &.active {
            white-space: nowrap;
            width: 100%;

            a {
                position: relative;

                &.active {
                    background-color: var(--color-icon-hover);
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: 0;
                    right: -2.3rem;
                    border-color: transparent transparent transparent var(--color-icon-hover);
                    border-style: solid;
                    border-width: 1.16rem;
                }
            }
        }
    }
}

.editor {
    &__tabs,
    &__tab-links {
        padding-left: 0;
        padding-right: 0;
    }

    &__tab-links {
        border-right: 1px solid var(--color-macro-border);
        max-width: 175px;

        @include media-breakpoint-down(md) {
            border-right: 0;
            max-width: none;
        }
    }

    &__tabs {
        padding-right: 0;
        padding-left: 1rem;

        @include media-breakpoint-down(md) {
            padding-left: 0;
        }
    }

    &__actions {
        float: right;

        &-container {
            background: var(--color-macro-bg);
            border-top: 1px solid var(--color-macro-border);
            border-bottom: 1px solid var(--color-macro-border);
            padding: 0.5rem 1rem;
        }
    }
}
