@import '~bootstrap/scss/mixins/breakpoints';
@import '../../../../styles/variables';

:host {
    display: block;
    width: 100%;
}

.action--editor {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    border: 0;
}

.nav {
    padding-bottom: 1rem;

    li {
        white-space: nowrap;
        width: 100%;

        a {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            user-select: none;

            &:hover {
                cursor: pointer;
            }
        }

        &.active {
            z-index: 2;
            white-space: nowrap;
            width: 100%;

            a {
                position: relative;

                &.active {
                    background-color: var(--color-icon-hover);
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: 0;
                    right: -2.3rem;
                    border-color: transparent transparent transparent var(--color-icon-hover);
                    border-style: solid;
                    border-width: 1.16rem;
                }
            }
        }
    }
}

.editor {
    &__tabs,
    &__tab-links {
        padding-left: 0;

        .nav li.active a.active {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;

            &:after {
                display: none;
            }
        }

        @include media-breakpoint-up(lg) {
            .nav li {
                &.active {
                    a.active {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;

                        &:after {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &__tabs {

        margin-left: -1rem;
        padding-left: 2rem;

        @include media-breakpoint-up(lg) {
            border-left: 1px solid var(--color-macro-border);
        }
    }

    &__actions {
        float: right;

        &-container {
            background: var(--color-macro-bg);
            border-top: 1px solid var(--color-macro-border);
            border-bottom: 1px solid var(--color-macro-border);
            padding: 0.5rem 1rem;
        }
    }
}
