<div class="macro--edit main-content__inner">
    <div class="row">
        <h1 class="col-xs-12 pane-title">
            <i class="fa fa-play"></i>
            <span class="macro__name pane-title__name" 
                  #macroNameInput
                  contenteditable="isMacroNameEditable" 
                  [contenteditableModel]="macro.name"
                  (contenteditableModelChange)="saveMacro()">{{macro.name}}</span> <i class="fa fa-pencil" (click)="toggleMacroNameEditable()"></i>
        </h1>
    </div>
    <div class="row">
        <div id="listWithHandle" class="list-group col-xs-10 col-xs-offset-1">
            <macro-item *ngFor="let macroAction of macro.macroActions.elements; let macroActionIndex = index" 
                        [macroAction]="macroAction"
                        [editable]="true"
                        [deletable]="true"
                        [moveable]="true"
                        (edit)="editAction(macroAction, macroActionIndex)"
                        class="list-group-item action--item"></macro-item>
            <div class="list-group-item action--item add-new__action-item no-reorder">
                <a class="add-new__action-item--link" (click)="addAction()"><i class="fa fa-plus"></i> Add new action item</a>
            </div>
            <div class="list-group-item new-macro-settings">
                <div class="helper"></div>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet.</p>
                <div class="row">
                    <div class="col-sm-12 flex-button-wrapper">
                        <button class="btn btn-primary btn-sm pull-right flex-button settings-save">Save</button>
                        <button class="btn btn-default btn-sm pull-right flex-button settings-cancel" style="margin-right: .5em;">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<macro-popover #macroPopover (cancel)="hidePopover()" [macroAction]="currentMacroAction" (save)="saveEditedAction($event)"></macro-popover>