<template [ngIf]="macro$ | async">
    <macro-header [macro]="macro$ | async"></macro-header>
    <div class="row list-container">
        <div class="col-xs-10 col-xs-offset-1 list-group">
            <div class="macro-actions-container" [dragula]="'macroActions'" [dragulaModel]="(macro$ | async)?.macroActions.elements">
                <macro-item *ngFor="let macroAction of (macro$ | async)?.macroActions.elements; let macroActionIndex = index"
                            [macroAction]="macroAction"
                            [editable]="true"
                            [deletable]="true"
                            [moveable]="true"
                            (save)="saveAction($event, macroActionIndex)"
                            (edit)="editAction(macroActionIndex)"
                            (cancel)="cancelAction()"
                            (delete)="deleteAction($event, macroActionIndex)"
                            [attr.data-index]="macroActionIndex"
                ></macro-item>

                <macro-item *ngIf="showNew" [macroAction]="newMacro"
                            [editable]="true"
                            [deletable]="false"
                            [moveable]="false"
                            (save)="addNewAction($event)"
                            (cancel)="hideNewAction()"
                ></macro-item>
            </div>
            <div class="list-group add-new__action-container" *ngIf="!showNew">
                <div class="list-group-item action--item add-new__action-item no-reorder" (click)="showNewAction()">
                    <a class="add-new__action-item--link"><i class="fa fa-plus"></i> Add new macro action</a>
                </div>
            </div>
        </div>
    </div>
</template>

<div *ngIf="!(macro$ | async)" class="not-found">
    Sorry, there is no macro with this id.
</div>