.out-of-space-warning-wrapper {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: var(--color-out-of-space-warning-bg);
    color: var(--color-out-of-space-warning-text);
    text-align: center;
    border-radius: 0;
    border-width: 0;
}
