:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

svg-keyboard {
    width: 95%;
    max-width: 1400px;
    position: absolute;
    left: 0;
    transform: translateX(-101%);
}

.keyboard-slider {
    position: relative;
    overflow: hidden;
    /* TODO create dynamic */
    height: 500px;
    margin-top: 30px;
}
.tooltip {
    position: fixed;
    transform: translate(-50%, -70%);

    &-inner {
        background: #fff;
        color: #000;
        box-shadow: 0 1px 5px #000;
    }

    &.top {
        .tooltip-arrow {
            border-top-color: #fff;
        }
    }
}
