:host {
    width: 100%;
    display: block;

    &.space {
        margin-bottom: 405px;
    }
}

svg-keyboard {
    width: 95%;
    max-width: 1400px;
    position: absolute;
    left: 0;
    transform: translateX(-101%);
    user-select: none;
}

.keyboard-slider {
    position: relative;
    overflow: hidden;
    /* TODO create dynamic */
    height: 500px;
    margin-top: 30px;
}
.tooltip {
    position: fixed;
    transform: translate(-50%, -6px);
    display: none;

    &-inner {
        background: #fff;
        color: #000;
        box-shadow: 0 1px 5px #000;
        text-align: left;

        p {
            margin-bottom: 2px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &.bottom {
        .tooltip-arrow {
            border-bottom-color: #fff;
            top: 1px;
        }
    }

    &.in {
        display: block;
        opacity: 1;
    }
}
