:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

svg-keyboard {
    width: 95%;
    max-width: 1400px;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
}

.keyboard-slider {
    height: calc(100% - 45px);
    position: relative;
    overflow: hidden;
    width: 100%;
}
