/* You can add global styles to this file, and also import other style files */
@import './styles/variables';
@import '~angular-notifier/styles';
@import '~font-awesome/scss/font-awesome';
@import './styles/tooltip';
@import './styles/uhk-icons/uhk-icon';

html, body {
    width: 100%;
    height: 100%;
}

.uhk-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: auto 100%;
    vertical-align: text-bottom;
}

.rotate-right {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg); // svg not aligned properly
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 26px;
}

.main-content {
    height: 100%;
}

.main-page-content {
    margin-left: 250px;
    overflow-x: hidden;
    min-height: 100%;
}

.select2 {
    &-container {
        z-index: 1100;

        .scancode--searchterm {
            text-align: right;
            color: #b7b7b7;
        }
    }

    &-item {
        display: flex;
        justify-content: space-between;
    }

    &-results {
        text-align: left;
    }
}

.nav-pills > li > a {
    cursor: pointer;
}

.select2-container--default .select2-dropdown--below .select2-results > .select2-results__options {
    max-height: 300px;
}

ul.btn-list {
    & li {
        margin-top: 0.5em;
    }
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
}

input[type=file] {
    display: inline-block;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.full-height {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.noUi-value {
    top: 2rem;
}

.btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

a.link-inline {
    cursor: pointer;
}

@mixin code-style() {
    color: #6a737d;
    background-color: #f6f8fa;
    text-align: left;
}

code {
    @include code-style();
}

pre {
    code {
        @include code-style();
    }
}

.mt-10 {
    margin-top: 10px;
}

.copy-container {
    position: relative;

    .fa-copy {
        cursor: pointer;
        color: #6a737d;
        position: absolute;
        right: 4px;
        top: 4px;

        &:hover {
            color: darken(#6a737d, 15);
        }
    }
}

.flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-grow {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

.flex-footer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ok-button {
    min-width: 100px;
}
