/* You can add global styles to this file, and also import other style files */
$grid-gutter-width: 30px;
$zindex-navbar-fixed: 1030;
@import '~spacing-bootstrap-3/spacing';

@import './styles/variables';
@import './styles/common';
@import '~angular-notifier/styles';
@import '~font-awesome/scss/font-awesome';
@import './styles/tooltip';
@import './styles/uhk-icons/uhk-icon';
@import './styles/side-menu';
@import './styles/ngx-select-ex';

html, body {
    width: 100%;
    height: 100%;
}

.uhk-icon-pure-agent-icon {
    background: url('assets/images/agent-icon.png') no-repeat;
}

.uhk-icon-full-agent-icon {
    background: url('assets/images/agent-logo-with-text.svg') no-repeat;
}

.uhk-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: auto 100%;
    vertical-align: text-bottom;

    &.wide {
        width: 4.15em;
    }
}

.rotate-right {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg); // svg not aligned properly
}

.main-content {
    height: 100%;
    top: 0;

    @include updatePanelVisible();
}

.main-page-content {
    margin-left: 250px;
    overflow-x: hidden;
    min-height: 100%;
}

app-update-available {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 200;
}

out-of-space-warning {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 200;
}

.nav-pills > li > a {
    cursor: pointer;
}

ul.btn-list {
    & li {
        margin-top: 0.5em;
    }
}

ul.no-indent {
    padding-left: 1em;
    margin-bottom: 0;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
}

input[type=file] {
    display: inline-block;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.full-height {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.noUi-value {
    top: 2rem;
}

.btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

.btn-black-link {
    color: #000;
}

.btn-padding-0 {
    padding: 0;
}

a.link-inline {
    cursor: pointer;
}

@mixin code-style() {
    color: #6a737d;
    background-color: #f6f8fa;
    text-align: left;
}

code {
    @include code-style();
}

pre {
    code {
        @include code-style();
    }
}

.mt-0 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-10 {
    margin-top: 10px;
}

.pl-0 {
    padding-left: 0;
}

.copy-container {
    position: relative;

    .fa-copy {
        cursor: pointer;
        color: #6a737d;
        position: absolute;
        right: 4px;
        top: 4px;

        &:hover {
            color: darken(#6a737d, 15);
        }
    }
}

.flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-grow {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

.flex-footer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ok-button {
    min-width: 100px;
}

.d-inline-block {
    display: inline-block;
}

kbd {
    padding: 0.1em 0.6em;
    border: 1px solid #ccc;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    white-space: nowrap;
}
