/* You can add global styles to this file, and also import other style files */
@import './styles/variables';
@import '~angular-notifier/styles';
@import '~font-awesome/scss/font-awesome';
@import './styles/tooltip';
@import './styles/uhk-icons/uhk-icon';

.uhk-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: auto 100%;
    vertical-align: text-bottom;
}

.rotate-right {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg); // svg not aligned properly
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 26px;
}

.main-content {
    height: 100vh;
}

.main-page-content {
    margin-left: 250px;
    overflow-x: hidden;
}

.select2 {
    &-container {
        z-index: 1100;

        .scancode--searchterm {
            text-align: right;
            color: #b7b7b7;
        }
    }

    &-item {
        display: flex;
        justify-content: space-between;
    }

    &-results {
        text-align: left;
    }
}

.nav-pills > li > a {
    cursor: pointer;
}

.select2-container--default .select2-dropdown--below .select2-results > .select2-results__options {
    max-height: 300px;
}

ul.btn-list {
    & li {
        margin-top: 0.5em;
    }
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
}

input[type=file] {
    display: inline-block;
}
