:host {
    &.macro-item:first-of-type {
        .list-group-item {
            border-radius: 4px 4px 0 0;
        }
    }

    &.macro-item:last-of-type {
        .list-group-item {
            border-bottom: 0;
        }
    }

    .action {
        &--item {
            display: flex;
            flex-shrink: 0;
            border: 0;
            border-bottom: 1px solid #ddd;

            icon {
                margin: 0 5px;
            }

            > div {
                display: flex;
                flex: 1;
            }

            &:first-child {
                border-radius: 0;
            }

            &.is-editing {
                background: #f5f5f5;
            }
        }

        &--movable {
            &:hover {
                cursor: move;
            }
        }
    }

    .macro-action-editor__container {
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
}
