<div class="list-group-item action--item" [class.is-editing]="editing">
  <span *ngIf="moveable" class="glyphicon glyphicon-option-vertical action--movable" aria-hidden="true"></span>
  <icon [name]="iconName"></icon>
  <div class="action--title" (click)="editAction()">{{ title }}</div>
  <icon *ngIf="deletable" name="trash" (click)="deleteAction()"></icon>
  <icon *ngIf="editable" name="pencil" (click)="editAction()"></icon>
</div>
<div class="list-group-item macro-action-editor__container" *ngIf="editable && editing">
  <macro-action-editor 
      #macroActionEditor
      *ngIf="editable && editing"
      [macroAction]="macroAction"
      (cancel)="cancelEdit()"
      (save)="saveEditedAction($event)"></macro-action-editor>
</div>