@import '../styles/variables';
@import '../styles/mixins';

:host {
    .main-div {
        height: 100vh;

        .inner-content {
            margin-left: $side-menu-width;
            height: 100%;

            as-split {
                ::ng-deep .as-split-gutter {
                    background-color: var(--color-smart-macro-split-glutter);
                }
            }

            .error-panel {
                background-color: var(--color-out-of-space-warning-bg);
                color: var(--color-out-of-space-warning-text);
                font-family: 'JetBrains Mono';
            }

            &.second-menu-visible {
                margin-left: $side-menu-width + $second-side-menu-width;
            }
        }
    }
}

dongle-pairing-panel,
firmware-upgrade-panel,
app-update-available {
    height: $main-content-top-margin-on-update;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.save-to-keyboard-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 25;
}

.secondary-menu-wrapper {
    background-color: var(--color-secondary-sidemenu-bg);
    bottom: 0;
    left: $side-menu-width;
    width: 0;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    transition-timing-function: ease-out;
    transition: 0.5s;

    &.visible {
        width: $second-side-menu-width;
        border-right: 1px solid var(--color-sidemenu-border);
    }

    second-side-menu-container {
        width: $second-side-menu-width;
        display: block;
    }
}

.top-notification-panel-visible .secondary-menu-wrapper,
.top-notification-panel-visible side-menu {
    top: $main-content-top-margin-on-update;
}

.top-notification-panel-visible .inner-content {
    padding-top: $main-content-top-margin-on-update;
}
