:host(:not([dragging='true'])) {
    cursor: pointer;
    outline: none;

    &:hover {
        fill: var(--color-keyboard-key-hover);

        circle,
        path {
            fill: var(--color-keyboard-key-hover);
        }
    }

    .svg-rec {
        transition: 0s;
    }
}

.svg-rec {
    transition-timing-function: ease-out;
    transition: 0.2s;

    &.blink {
        animation: blinkingRec 1s 1 ease-out;
    }
}

:host(.active) {
    .svg-circle,
    .svg-path,
    .svg-rec {
        fill: var(--color-keyboard-key-active);
        transition-timing-function: ease-in;
        transition: 0s;
    }
}

@keyframes blinkingRec {
    0% {
        fill: #ffffff;
    }
    100% {
        fill: #333333;
    }
}
