:host {
    width: 100%;
    display: block;

    &.space {
        margin-bottom: 405px;
    }
}

keyboard-slider {
    display: block;
    position: relative;
    overflow: hidden;
    height: 1000px;
    margin-top: 30px;
}

.tooltip {
    position: fixed;
    transform: translate(-50%, -6px);
    display: none;

    &-inner {
        background: #fff;
        color: #000;
        box-shadow: 0 1px 5px #000;
        text-align: left;

        p {
            margin-bottom: 2px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &.bottom {
        .tooltip-arrow {
            border-bottom-color: #fff;
            top: 1px;
        }
    }

    &.in {
        display: block;
        opacity: 1;
    }
}
