:host {
    display: flex;
    height: 100%;
}

.macro-key {
    &__action {
        &-container {
            border-left: 1px solid var(--color-macro-border);
            margin-left: -1rem;
            padding-left: 2rem;
        }
    }
}

.fas {
    min-width: 14px;
}
