@import '~bootstrap/scss/mixins/breakpoints';
@import '../../../../../../styles/variables';

:host {
    display: flex;
    height: 100%;
}

.macro-key {
    &__types {
        padding-left: 5px;
        max-width: var(--macro-sub-item-max-width);
        border-right: 1px solid var(--color-macro-border);
    }

    &__action {
        &-container {
            padding-left: 1.5rem;
            margin-right: -2.5rem;

            @include media-breakpoint-down(lg) {
                margin-right: 0;
            }
        }
    }
}

.fas {
    min-width: 14px;
}
