:host {
    display: flex;
    height: 100%;
}

.macro-key {
    &__types {
        padding-left: 5px;
        max-width: var(--macro-sub-item-max-width);
        border-right: 1px solid var(--color-macro-border);
    }

    &__action {
        &-container {
            padding-left: 2rem;
            width: 100%;
        }
    }
}

.fas {
    min-width: 14px;
}
