.macro-mouse {
    &__types {
        padding-left: 5px;
        max-width: var(--macro-sub-item-max-width);
        border-right: 1px solid var(--color-macro-border);
    }

    &__actions {
        padding-left: 1.5rem;
    }
}

.form-horizontal {
    .form-group {
        margin: 0 0 0.5rem;
    }

    label {
        display: inline-block;
        margin-right: 0.5rem;
    }

    .form-control {
        display: inline-block;
        width: 10ch;
    }
}

.nav {
    li.active {
        z-index: 2;
    }
}
