.macro-mouse {
    &__container {
        padding: 0;
    }

    &__types {
        border-right: 1px solid #ddd;
        border-left: 0;
        margin-top: -1rem;
        margin-left: 0;
        padding: 1rem 0;
    }

    &__actions {
        padding-left: 3rem;
        padding-bottom: 1rem;
    }
}

fa-icon {
    display: inline-block;
    min-width: 14px;
}

.form-horizontal {
    .form-group {
        margin: 0 0 0.5rem;
    }

    label {
        display: inline-block;
        margin-right: 0.5rem;
    }

    .form-control {
        display: inline-block;
        width: 10ch;
    }
}

.nav {
    li.active {
        z-index: 0;
    }
}
