.macro-mouse {
    &__actions {
        border-left: 1px solid var(--color-macro-border);
    }
}

.form-horizontal {
    .form-group {
        margin: 0 0 0.5rem;
    }

    label {
        display: inline-block;
        margin-right: 0.5rem;
    }

    .form-control {
        display: inline-block;
        width: 10ch;
    }
}

.nav {
    li.active {
        z-index: 2;
    }
}
