
.me-container {
    display: block;
    max-height: calc(100vh - 100px);
    padding: 2px;
}

:host(.active) {
    .me-container {
        border: 1px solid var(--color-active-monaco-editor-border-color);

        ::ng-deep .cursor.monaco-mouse-cursor-text {
            visibility: visible !important; /* stylelint-disable-line declaration-no-important */
            animation: cursor-blink 1.5s steps(2) infinite;
        }
    }
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}
