
.me-container {
    display: block;
    max-height: calc(100vh - 100px);
    padding: 2px;
    border: 1px solid var(--color-xterm-border);
}

:host(.active) {
    &:not(:focus-within) {
        .me-container {
            ::ng-deep .cursor.monaco-mouse-cursor-text {
                visibility: visible !important; /* stylelint-disable-line declaration-no-important */
                animation: cursor-blink 1s steps(2) infinite;
            }
        }
    }

    &:focus-within {
        outline-offset: 0;
        outline: rgb(153, 200, 255) auto 1px;
    }
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}
