input {
    border: none;
    border-bottom: 2px dotted #999;
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;

    &:focus {
        box-shadow: 0 0 0 1px #ccc, 0 0 5px 0 #ccc;
        border-color: transparent;
    }
}
