:host {
    display: flex;
    align-items: center;
}

.action {

    &--edit {
        &:hover {
            color: #337ab7;
            cursor: pointer;
        }
    }

    &--trash {
        &:hover {
            color: #d9534f;
            cursor: pointer;
        }
    }

}