:host {
    overflow-y: auto;
    display: block;
    height: 100%;
    width: 100%;

    label {
        display: block;
        font-weight: normal;

        icon {
            display: inline-block;
        }
    }

    .mouse-speed-reset-button {
        margin-bottom: 2rem;
        margin-right: 1em;
    }

    .mouse-speed-setting {
        + h3 {
            margin-top: 2rem;
        }
    }

    .placeholder {
        height: 3rem;
    }
}
