:host {
    display: flex;
    margin: 0 -5px;

    > span,
    > select {
        margin: 0 5px;
        display: flex;
        align-items: center;
    }
}

select {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 4px 20px 4px 8px;
}
