:host {
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
    position: fixed;
    overflow-y: auto;
    width: 250px;
    height: 100%;
}

a {
    color: #333;
}

ul ul {
    max-height: 200px;
    transition: max-height 0.5s ease-in;
    overflow: hidden;
}

ul ul.slide-up {
    max-height: 0;
    transition: max-height 0.5s ease-out;
}
