:host {
    display: flex;
    margin: 0;

    &.no-base {
        justify-content: center;
    }

    > span {
        margin: 0 5px;
        display: flex;
        align-items: center;
    }

    .select-toggle-container {
        display: inline-block;
        width: 7em;
    }

    .select-layer-container {
        display: inline-block;
        width: 6em;
    }
}
