%svg-common {
    background: url($uhk-icon-path) no-repeat;
}

.uhk-icon-0401-usb-stick {
    @extend %svg-common;
    background-position: 0 0;
}

.uhk-icon-agent-icon {
    background: url('assets/images/agent-icon.png') no-repeat;
}
