%svg-common {
    background: url($uhk-icon-path) no-repeat;
}

.uhk-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: auto 100%;
    vertical-align: text-bottom;
    @include invertInDarkTheme($icon-dark-theme-inversion);

    &.wide {
        width: 4.15em;
    }
}

.uhk-icon-agent-icon {
    @extend %svg-common;
    background-position: 0 100%;
}

.uhk-icon-usb-drive {
    @extend %svg-common;
    background-position: 0 0;
}


.uhk-icon-pure-agent-icon {
    background: url('../../assets/images/agent-icon.svg') no-repeat;
}

.uhk-icon-full-agent-icon {
    background: url('../../assets/images/agent-logo-with-text.svg') no-repeat;
    background-size: contain;
}
