:host {
    display: flex;

    &.popover-content {
        padding: 10px;
        display: flex;
    }

    .select-toggle-container {
        display: inline-block;
        width: 20em;
    }

    .mouse-action {
        align-self: stretch;
        border-right: 1px solid #ccc;

        .nav {
            li {
                a {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    transition: none;
                    line-height: 18px;

                    &.selected {
                        font-style: italic;
                    }
                }

                &.active {
                    a {
                        position: relative;

                        &.active {
                            background-color: var(--color-icon-hover);
                        }

                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 0;
                            bottom: 0;
                            right: -34px;
                            border-color: transparent transparent transparent var(--color-icon-hover);
                            border-style: solid;
                            border-width: 17px;
                        }
                    }
                }
            }
        }
    }

    .details {
        padding-right: 30px;
        padding-left: 30px;
    }
}
