@import '../../../../../styles/common';

.btn--capture-keystroke {
    display: inline-block;
    margin: 0 0 0 0.25rem;
}

.link--capture-keystroke {
    @extend %btn-link;
}

.record-circle {
    color: #c00;
}
