@import '../../../../../styles/mixins';

.btn--capture-keystroke {
    display: inline-block;
    white-space: nowrap;
}

.link--capture-keystroke {
    @extend %btn-link;
}

.record-circle {
    color: var(--color-icon-capture-keystroke);
}
