.btn--capture-keystroke {
    display: inline-block;
    margin: 0 0 0 0.25rem;
}

.link--capture-keystroke {
    padding: 10px 5px;
    width: 100%;
    border: 0;
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

.fa-circle {
    color: #c00;
}
