$tooltip-head-color: #fff;
$tooltip-text-color: #999;
$tooltip-background: #333;

// Customised bootstrap tooltip
// Source: https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=create-custom-template-for-tooltips
.tooltip {
    z-index: 10001; // Over dropdowns

    .tooltip-inner {
        color: $tooltip-text-color;
        background: $tooltip-background;
    }

    .tooltip-arrow {
        // Placement top
        /* stylelint-disable-next-line declaration-no-important */
        border-top-color: $tooltip-background !important;
        // Placemet bottom
        /* stylelint-disable-next-line declaration-no-important */
        border-bottom-color: $tooltip-background !important;
    }

    .tooltip-head {
        color: $tooltip-head-color;
        background: $tooltip-background;
        padding: 10px 10px 5px;
        border-radius: 4px 4px 0 0;
        text-align: center;
        margin-bottom: -2px; /* Hide default tooltip rounded corner from top */

        .glyphicon {
            font-size: 22px;
            vertical-align: bottom;
        }

        h3 {
            margin: 0;
            font-size: 18px;
        }
    }
}
