.macro {
    &__remove {
        font-size: 0.75em;
        top: 7px;
        position: relative;
        color: inherit;
        text-decoration: none;
        border: 0;

        &:hover {
            cursor: pointer;
            color: var(--color-icon-hover-delete);
        }
    }

    &__duplicate {
        font-size: 0.75em;
        top: 7px;
        margin-right: 15px;
        position: relative;
        color: inherit;
        text-decoration: none;
        border: 0;

        &:hover:not(.disabled) {
            cursor: pointer;
            color: var(--color-icon-hover);
        }

        &.disabled {
            color: var(--color-layers-button-active-disabled);
        }
    }
}
