:host {
    display: flex;
    flex-direction: column;

    > div {
        display: flex;
        margin-top: 2px;

        b {
            display: flex;
            align-items: center;
            margin-right: 7px;
        }

        select2 {
            flex: 1;
        }
    }

    > div:last-child {
        margin-top: 10px;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.empty {
    display: flex;

    img {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
    }
}
