$side-value-width: 100px;

:host {
    label {
        display: block;
        font-weight: normal;

        icon {
            display: inline-block;
        }
    }

    .slider-wrapper {
        display: flex;
        flex-direction: row;
        padding-left: 1.6rem;
    }

    .slider-container {
        width: calc(100% - #{$side-value-width});
    }

    .slider-value {
        width: $side-value-width;
    }

    .value-indicator {
        padding: 1rem 1rem 1rem 3rem;
        vertical-align: middle;
        white-space: nowrap;
    }
}
