$side-value-width: 80px;

:host {
    label {
        display: block;
        font-weight: normal;

        icon {
            display: inline-block;
        }
    }

    ::ng-deep {
        .noUi-tooltip {
            display: none;
        }

        .noUi-active .noUi-tooltip {
            display: block;
        }
    }

    .slider-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-left: 1.6rem;
    }

    .slider-container {
        flex-grow: 1;
        min-width: 100px;
    }

    .slider-value {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: var(--slider-value-width, $side-value-width);
        margin-left: 1rem;
    }

    .value-indicator {
        white-space: nowrap;
    }
}
