:host {
    display: flex;
    flex-direction: column;

    > span {
        text-align: center;
    }

    .macro-controls-table {
        tr:not(:last-of-type) {
            td {
                padding-bottom: 0.5em;
            }
        }

        .col-label {
            min-width: 110px;
        }

        .col-input {
            width: 100%;

            .form-control {
                padding: 2px 10px;
            }
        }

        .col-controls {
            min-width: 130px;

            &.arguments {
                fa-icon {
                    margin-left: 0.5em;
                }
            }
        }
    }

    .macro-action-container {
        display: flex;
        flex-direction: column;
        min-height: 200px;
        max-height: 300px;
        margin: 20px 0;
        overflow-x: hidden;
        overflow-y: auto;
        border-radius: 4px;
        border: 1px solid #ddd;

        .list-group {
            margin-bottom: 0;
            border: 0;
        }
    }
}
