@import '../../../styles/mixins';
@import '../../../styles/variables';

$level-0-item-spacing: 0.5rem 0.5rem;
$level-1-item-spacing: 0.25rem 1rem 0.25rem 1.5rem;
$level-2-item-spacing: 0.125rem 0 0.125rem 2rem;

:host {
    background-color: var(--color-sidemenu-bg);
    border-right: 1px solid var(--color-sidemenu-border);
    position: fixed;
    overflow-y: auto;
    top: 0;
    width: 250px;
    height: 100%;

    @include updatePanelVisible();
}

a {
    color: var(--color-sidemenu-text);

    &.disabled {
        opacity: 0.65;
    }
}

// General list styles for the sidebar-menu.
ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;

    li {
        list-style: none;
    }
}

.sidebar {
    &__level-0 {
        padding: $level-0-item-spacing;
    }

    &__level-1 {
        padding: $level-1-item-spacing;
    }

    &__level-0,
    &__level-1 {
        font-size: $font-size-lg;
        cursor: default;

        &:hover {
            .chevron {
                display: inline-block;
            }
        }

        &--item {
            margin-top: 0;

            &:nth-child(1) {
                margin: 0;
            }
        }

        .chevron {
            line-height: $font-size-lg * 1.7;
            font-size: $font-size-lg * 0.75;
            display: none;
            cursor: pointer;
        }

        .btn + .chevron {
            // Chevron style when the same row has a button
            right: 0.75rem;
        }

        .uhk-icon-usb-drive {
            background-size: 20px 20px;
        }
    }

    &__level-2 {
        padding: $level-2-item-spacing;

        &--item {
            position: relative;

            &.active,
            .active {
                background-color: var(--color-sidemenu-active-bg);
                color: var(--color-sidemenu-active-text);

                a {
                    color: var(--color-sidemenu-active-text);
                }

                .fa-star {
                    color: var(--color-sidemenu-active-text);
                }

                &:hover {
                    background-color: var(--color-sidemenu-active-bg);
                }
            }

            &:hover {
                cursor: pointer;
            }

            // General "right side" icon theming.
            .fa.float-right {
                position: relative;
                top: 2px;
            }

            .fa-star {
                color: var(--color-sidemenu-star);
            }

            a {
                display: block;
                width: 100%;

                &:hover,
                &:focus {
                    text-decoration: none;
                }

                &.disabled {
                    opacity: 0.65;
                }
            }
        }
    }

    // General hover over menu items.
    &__level-0,
    &__level-1,
    &__level-2 {
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);

            .sidebar__macro_count {
                visibility: visible;
            }
        }
    }

    &__fav {
        position: absolute;
        right: 19px;
        top: 3px;
        z-index: 50;
    }

    &__macro_count {
        position: absolute;
        right: 11px;
        top: 6px;
        visibility: hidden;
    }
}

.menu--bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .sidebar {
        &__level-1 {
            display: block;
            padding: 1rem;
            cursor: pointer;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
