:host {
    overflow-y: auto;

    p {
        margin: 1.5rem 0;
    }

    // TODO: Bootstrap upgrade with SCSS support so a mixin could be used here
    @media (min-width: 992px) {
        .device-config-actions {
            li {
                display: inline-block;
                margin-right: 1rem;
            }
        }
    }
}

.separator {
    height: 20px;
}
