
:host {
    display: flex;
    align-items: center;
}

:host(.align-items-top) {
    align-items: flex-start;
}

.action {

    &--edit {
        &:hover {
            color: var(--color-icon-hover);
            cursor: pointer;
        }
    }

    &--trash {
        &:hover {
            color: var(--color-icon-hover-delete);
            cursor: pointer;
        }
    }

}
