@import '../../../../../styles/variables';

:host {
    display: flex;
    align-items: center;
}

.action {

    &--edit {
        &:hover {
            color: $icon-hover;
            cursor: pointer;
        }
    }

    &--trash {
        &:hover {
            color: $icon-hover-delete;
            cursor: pointer;
        }
    }

}
