<div class="scancode-options">
    <b class="setting-label">Scancode:</b>
    <select2
            [data]="scanCodeGroups"
            [value]="scanCode.toString()"
            (valueChanged)="onScancodeChange($event)"
            [width]="200"
            [options]="options"
    ></select2>
    <capture-keystroke-button (capture)="onKeysCapture($event)"></capture-keystroke-button>
</div>
<div class="modifier-options">
    <b class="setting-label">Modifiers:</b>
    <div class="btn-toolbar modifiers">
        <div class="btn-group btn-group-sm modifiers__left">
            <button type="button" class="btn btn-default"
                    *ngFor="let modifier of leftModifiers; let index = index"
                    [class.btn-primary]="leftModifierSelects[index]"
                    (click)="toggleModifier(false, index)"
            >
                {{modifier}}
            </button>
        </div>
        <div class="btn-group btn-group-sm modifiers__right">
            <button type="button" class="btn btn-default"
                    *ngFor="let modifier of rightModifiers; let index = index"
                    [class.btn-primary]="rightModifierSelects[index]"
                    (click)="toggleModifier(true, index)"
            >
                {{modifier}}
            </button>
        </div>
    </div>
</div>
<div class="long-press-container" *ngIf="longPressEnabled">
    <b class="setting-label">Long press action:</b>
    <select2 #longPressSelect
             [data]="longPressGroups"
             [value]="selectedLongPressIndex.toString()"
             (valueChanged)="onLongpressChange($event)"
             [width]="140"
    ></select2>
    <icon name="question-circle" title="This action happens when the key is being held along with another key."></icon>
</div>

<div class="disabled-state--text">
    <i class="fa fa-info-circle"></i>
    When a key is configured as layer switcher key, you can't assign other functions to it.
    To assign a scancode to the key, set the <em>Layer action</em> to <em>None</em>.
</div>