:host {
    display: flex;
    flex-direction: column;
    position: relative;

    .scancode-options {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        margin-bottom: 10px;
        margin-top: 2px;

        > b {
            display: inline-block;
            margin-right: 0.6em;
        }

        icon {
            display: inline-block;
            margin-left: 0.6em;
            margin-right: 0.6em;
        };

        capture-keystroke-button {
            display: inline-block;
        }
    }

    .modifier-options {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        > b {
            margin-right: 4px;
        }

        icon {
            margin-left: 0.3em;
        };

        .btn-toolbar {
            display: inline-block;
        }
    }

    .long-press-container {
        display: flex;
        margin-top: 3rem;

        > b {
            margin-right: 0.6em;
            align-items: center;
            display: flex;
        }

        .secondary-role {
            width: 135px;
        }

        icon {
            margin-left: 0.6em;
        }
    }

    .setting-label {
        &.disabled {
            color: var(--color-keypress-tab-setting-label-disabled);
        }
    }

    .disabled-state--text {
        display: none;
        position: absolute;
        top: 50%;
        margin-top: -4rem;
        color: var(--color-keypress-tab-disabled-info-text);
        padding-right: 40px;

        fa-icon {
            font-size: 2.6rem;
            float: left;
            padding-right: 1.5rem;
        }
    }

    &.disabled {
        .scancode-options,
        .modifier-options,
        .long-press-container {
            visibility: hidden;
        }

        .disabled-state--text {
            display: block;
        }
    }

    .scancode-container {
        display: inline-block;
        width: 200px;
        min-width: 154px;
        margin-bottom: 0.5rem;
    }

    .secondary-role-groups-container {
        display: inline-block;
        width: 140px;
    }

    .remap-warning {
        margin-top: 10px;
        margin-bottom: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
