table {
    th,
    td {
        padding: 0.5rem;
        border-bottom: 1px solid var(--color-sidemenu-border);

        .movable {
            &:hover {
                cursor: move;
            }
        }
    }
}

// Dragula styles
.gu {
    &-mirror {
        font-size: 1.2rem;
        position: fixed;
        margin: 0;
        z-index: 9999;
        opacity: 0.8;

        td {
            padding: 0.5rem;
        }
    }

    &-hide {
        display: none;
    }

    &-unselectable {
        user-select: none;
    }

    &-transit {
        opacity: 0.2;
        background: var(--color-macro-bg);
    }
}
