:host {
    overflow-y: auto;
    display: block;
    height: 100%;
    width: 100%;
}

.link-github {
    cursor: pointer;
}

contributor-badge {
    display: block;
    margin: 0.5em auto;
    min-width: 12em;
}
