main-app {
    display: block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.main-content {
    height: 100%;
    margin-left: 250px;
}

.select2 {
    &-container {
        z-index: 100000;
    }

    &-results {
        text-align: center;
    }
}

.select2-selection__rendered {
    line-height: 26px !important;
}

/* GitHub ribbon */
.github-fork-ribbon {
    background-color: #a00;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    right: -50px;
    bottom: 40px;
    z-index: 999999;
    /* stylelint-disable indentation */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    /* stylelint-enable indentation */

    a {
        border: 1px solid #faa;
        color: #fff;
        display: block;
        font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 1px 0;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 0 5px #444;
    }
}
