:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

:host > div:first-child {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

button {
    margin: 2px;
}

:host > div:last-child {
    display: flex;
    flex: 5;
    position: relative;
}

:host > div:last-child > svg-keyboard {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
}

@keyframes animate-center-left {
    0% {
        transform: translateX(-50%);
        left: 50%;
    }
    100% {
        transform: translateX(-100%);
        left: 0%;
    }
}

@keyframes animate-center-right {
    0% {
        transform: translateX(-50%);
        left: 50%;
    }
    100% {
        transform: translateX(0%);
        left: 100%;
    }
}

[hidden] {
    display: none
}

