:host {
    display: flex;

    &.popover-content {
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .mouse-action {
        .nav {
            border-right: 1px solid #ccc;

            li {
                a {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;

                    &.selected {
                        font-style: italic;
                    }
                }

                &.active {
                    a {
                        &.selected {
                            font-style: normal;
                        }

                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 0;
                            right: -4rem;
                            border-color: transparent transparent transparent #337ab7;
                            border-style: solid;
                            border-width: 2rem;
                        }
                    }
                }
            }
        }
    }

    .help-text--mouse-speed {
        margin-bottom: 2rem;
        font-size: 0.9em;
        color: #666;

        p {
            margin: 0;
        }
    }

    .details {
        .btn-placeholder {
            visibility: hidden;
        }
    }
}
