<div class="mouse-action col-sm-4">
    <ul class="nav nav-pills nav-stacked">
        <li *ngFor="let page of pages; let i = index" [class.active]="selectedPageIndex === i" (click)="changePage(i)">
            <a> {{ page }}</a>
        </li>
    </ul>
</div>
<div class="details col-sm-8" [ngSwitch]="selectedPageIndex">
    <div *ngSwitchCase="0" class="mouse__config mouse__config--move text-center">
        <div class="row">
            <button type="button" class="btn btn-default btn-lg"
                    [class.btn-primary]="mouseActionParam === MouseActionParam.moveUp"
                    (click)="setMouseActionParam(MouseActionParam.moveUp)">
                <i class="fa fa-arrow-up"></i>
            </button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-default btn-lg"
                    [class.btn-primary]="mouseActionParam === MouseActionParam.moveLeft"
                    (click)="setMouseActionParam(MouseActionParam.moveLeft)">
                <i class="fa fa-arrow-left"></i>
            </button>
            <button type="button" class="btn btn-default btn-lg btn-placeholder">
                <i class="fa fa-square"></i>
            </button>
            <button type="button" class="btn btn-default btn-lg"
                    [class.btn-primary]="mouseActionParam === MouseActionParam.moveRight"
                    (click)="setMouseActionParam(MouseActionParam.moveRight)">
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-default btn-lg"
                    [class.btn-primary]="mouseActionParam === MouseActionParam.moveDown"
                    (click)="setMouseActionParam(MouseActionParam.moveDown)">
                <i class="fa fa-arrow-down"></i>
            </button>
        </div>
    </div>
    <div *ngSwitchCase="1" class="mouse__config mouse__config--scroll text-center">
        <div class="row">
            <button type="button" class="btn btn-default btn-lg"
                    [class.btn-primary]="mouseActionParam === MouseActionParam.scrollUp"
                    (click)="setMouseActionParam(MouseActionParam.scrollUp)">
                <i class="fa fa-angle-double-up"></i>
            </button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-default btn-lg"
                    [class.btn-primary]="mouseActionParam === MouseActionParam.scrollLeft"
                    (click)="setMouseActionParam(MouseActionParam.scrollLeft)">
                <i class="fa fa-angle-double-left"></i>
            </button>
            <button type="button" class="btn btn-default btn-lg btn-placeholder">
                <i class="fa fa-square"></i>
            </button>
            <button type="button" class="btn btn-default btn-lg"
                [class.btn-primary]="mouseActionParam === MouseActionParam.scrollRight"
                (click)="setMouseActionParam(MouseActionParam.scrollRight)">
                <i class="fa fa-angle-double-right"></i>
            </button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-default btn-lg"
                [class.btn-primary]="mouseActionParam === MouseActionParam.scrollDown"
                (click)="setMouseActionParam(MouseActionParam.scrollDown)">
                <i class="fa fa-angle-double-down"></i>
            </button>
        </div>
    </div>
    <div *ngSwitchCase="2" class="mouse__config mouse__config--click">
        <div class="btn-group col-xs-12" role="group">
            <button type="button" class="btn btn-default col-xs-4"
                    [class.btn-primary]="mouseActionParam === MouseActionParam.leftClick"
                    (click)="setMouseActionParam(MouseActionParam.leftClick)">Left</button>
            <button type="button" class="btn btn-default col-xs-4"
                    [class.btn-primary]="mouseActionParam === MouseActionParam.middleClick"
                    (click)="setMouseActionParam(MouseActionParam.middleClick)">Middle</button>
            <button type="button" class="btn btn-default col-xs-4"
                    [class.btn-primary]="mouseActionParam === MouseActionParam.rightClick"
                    (click)="setMouseActionParam(MouseActionParam.rightClick)">Right</button>
        </div>
    </div>
    <div *ngSwitchCase="3" class="mouse__config mouse__config--speed text-center">
        <div class="help-text--mouse-speed text-left">
            <p>Press this key along with mouse movement/scrolling to accelerate/decelerate the speed of the action.</p>
            <p>You can set the multiplier in <a href="#" title="link to the setting">link to setting</a>.</p>
        </div>
        <div class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-default"
                [class.btn-primary]="mouseActionParam === MouseActionParam.decelerate"
                (click)="setMouseActionParam(MouseActionParam.decelerate)">-</button>
            <button type="button" class="btn btn-default"
                [class.btn-primary]="mouseActionParam === MouseActionParam.acelerate"
                (click)="setMouseActionParam(MouseActionParam.accelerate)">+</button>
        </div>
    </div>
    <div *ngSwitchDefault>
    </div>
</div>