name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types:
      - created

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - name: github context
        run: echo "::warning::${{toJSON(github)}}"

#      - uses: actions/checkout@v2
#
#      - name: Read .nvmrc
#        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
#        id: nvm
#
#      - name: Use Node.js (.nvmrc)
#        uses: actions/setup-node@v1
#        with:
#          node-version: ${{ steps.nvm.outputs.NVMRC }}
#
#      - name: Install dependencies
#        run: npm install
#
#      - name: Run linters
#        run: npm run lint
#
#      - name: Run Build
#        run: npm run build
#
#      - name: Run test
#        run: npm test
#
#      - name: Release
#        run: node ./scripts/release.js
#        if: on.release.created
