.privilege-error {
    animation: error-fade-in 2s;
}

@keyframes error-fade-in {
    0% {
        color: white;
        background-color: red;
    }

    100% {
        color: inherit;
        background-color: inherit;
    }
}

uhk-message {
    display: block;
}
